.index-animation {
  height: 100%;
  width: 100%;
}

.index-our-features {
  height: 320px;
  position: relative;
  width: 100%;

  &__base {
    left: -2rem;
    position: absolute;
    top: 0;
    transform: rotate(var(--rotate-z));
    width: calc(100% + 2rem);
  }

  &__planet-1 {
    height: 30px;
    left: var(--translate-left);
    position: absolute;
    top: var(--translate-top);
    width: 30px;
  }

  &__planet-2 {
    height: 40px;
    left: var(--translate-left);
    position: absolute;
    top: var(--translate-top);
    width: 40px;
  }

  &__planet-3 {
    height: 56px;
    left: var(--translate-left);
    position: absolute;
    top: var(--translate-top);
    width: 56px;
  }

  &__planet-4 {
    height: 78px;
    left: var(--translate-left);
    position: absolute;
    top: var(--translate-top);
    transform: scale(var(--translate-scale));
    width: 78px;
  }

  &__planet-5 {
    height: 106px;
    left: var(--translate-left);
    position: absolute;
    top: var(--translate-top);
    transform: scale(var(--translate-scale));
    width: 106px;
  }
}

.index-features {
  &__relative {
    margin-top: -80px;
    position: relative;
    width: 100%;
  }

  &__title {
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 80px;
    text-align: center;
  }

  &__main-container {
    display: flex;
    gap: 1rem;
  }

  &__container {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    gap: 1rem;
  }

  &__item {
    align-items: center;
    background: rgba(103, 62, 96, 0.16);
    border-radius: 8px;
    display: flex;
    gap: 0.5rem;
    height: 56px;
    padding: 0.5rem 144px;
  }

  &__item_lg {
    height: 128px;
  }

  &__text {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

@media screen and (max-width: 1199px) {
  .index__margin {
    margin-top: 80px;
  }

  .index-our-features {
    height: 245px;
  }

  .index-features__item {
    padding: 0.5rem 80px;
  }
}

@media screen and (max-width: 991px) {
  .index__margin {
    margin-top: 69px;
  }

  .index-our-features {
    height: 190px;
  }

  .index-features__title {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 40px;
  }

  .index-features__item {
    padding: 0.5rem 40px;
  }

  .index-features__text {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  .index__margin {
    margin-top: 48px;
  }

  .index-our-features {
    height: 135px;
  }

  .index-features__title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 48px;
  }

  .index-features__item {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 575px) {
  .index__margin {
    margin-top: 40px;
  }

  .index-our-features {
    height: 95px;
  }
}
