<div id="our-features" class="index-animation index__margin">
  <div class="index-our-features" data-v-49467a3e="">
    <img
      src="/assets/img/our-features-base.svg"
      alt="Our features Base"
      class="index-our-features__base"
    />
    <img
      src="/assets/img/our-features-sm-planet.svg"
      alt="Our features Planet"
      class="index-our-features__planet-1"
      style="--translate-left: 26.54%; --translate-top: 60.78%"
    />
    <img
      src="/assets/img/our-features-sm-planet.svg"
      alt="Our features Planet"
      class="index-our-features__planet-2"
      style="--translate-left: 81.3%; --translate-top: 59.2%"
    />
    <img
      src="/assets/img/our-features-lg-planet.svg"
      alt="Our features Planet"
      class="index-our-features__planet-3"
      style="--translate-left: 20.6%; --translate-top: 89.34%"
    />
    <img
      src="/assets/img/our-features-lg-planet.svg"
      alt="Our features Planet"
      class="index-our-features__planet-4"
      style="--translate-left: 43.4%; --translate-top: 102.42%; --translate-scale: 1.234"
    />
    <img
      src="/assets/img/our-features-lg-planet.svg"
      alt="Our features Planet"
      class="index-our-features__planet-5"
      style="--translate-left: 72.3%; --translate-top: 86.78%; --translate-scale: 0.844"
    />
  </div>
  <div class="index-features__relative">
    <h3 class="index-features__title">Our features</h3>
    <div class="index-features__main-container">
      <div class="index-features__container">
        <div class="index-features__item index-features__item_lg">
          <img src="/assets/img/index-bullet.svg" alt="bullet" />
          <span class="index-features__text"> More than 3300+ coins available </span>
        </div>
        <div class="index-features__item">
          <img src="/assets/img/index-bullet.svg" alt="bullet" />
          <span class="index-features__text"> Loyalty program </span>
        </div>
        <div class="index-features__item">
          <img src="/assets/img/index-bullet.svg" alt="bullet" />
          <span class="index-features__text"> 24/7 live support </span>
        </div>
      </div>
      <div class="index-features__container">
        <div class="index-features__item">
          <img src="/assets/img/index-bullet.svg" alt="bullet" />
          <span class="index-features__text"> Best rates on the market </span>
        </div>
        <div class="index-features__item">
          <img src="/assets/img/index-bullet.svg" alt="bullet" />
          <span class="index-features__text"> Fixed &amp; floating rates </span>
        </div>
        <div class="index-features__item index-features__item_lg">
          <img src="/assets/img/index-bullet.svg" alt="bullet" />
          <span class="index-features__text"> Zero sign-up hassle </span>
        </div>
      </div>
    </div>
  </div>
</div>
