.p-r {
  position: relative;
}

.step-exchange-panel__gradient[data-v-23647efa] {
  background: radial-gradient(100% 100% at 50% 50%, #51354f 0, rgba(81, 53, 79, 0) 93.75%);
  filter: blur(175px);
  height: calc(100% + 64px);
  left: -16px;
  position: absolute;
  top: -32px;
  width: calc(100% + 32px);
}

.step-exchange-panel[data-v-23647efa] {
  background-color: #36293b;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 0 0 16px;
  transition: background-color 0.5s ease;
  width: 100%;
}
.finished-status[data-v-23647efa] {
  background-color: #27212b;
  position: relative;
}

.step-exchange-panel_badges-wrapper[data-v-23647efa] {
  border-radius: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
  will-change: auto;
}
.step-exchange-panel_badges-wrapper.show[data-v-23647efa] {
  max-height: 500px;
}

.animated-header[data-v-86b8b394] {
  background-color: #27212b;
  height: 80px;
  overflow: hidden;
  position: relative;
}

.animated-element[data-v-86b8b394] {
  position: absolute;
  transform: translate(var(--start-x), var(--start-y));
}
.animated-element.animate[data-v-86b8b394] {
  animation: move-element-86b8b394 1s forwards;
}

img {
  border-style: none;
}

.animated-element img[data-v-86b8b394] {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}

@keyframes move-element-86b8b394 {
  100% {
    left: var(--left);
    right: var(--right);
    top: var(--top);
    transform: translate(var(--end-x), var(--end-y));
  }
}

.badges-panel[data-v-770e730c] {
  align-items: center;
  background: #36293b;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 260px;
  justify-content: space-between;
  padding: 16px;
}
.step-exchange-panel_badges[data-v-23647efa] {
  margin: 32px;
  opacity: 0;
  transition: opacity 1.5s ease-out;
  will-change: opacity;
}

.finished-status .step-exchange-panel__buttons[data-v-23647efa],
.finished-status .step-exchange-panel__details[data-v-23647efa],
.finished-status .step-exchange-panel__hide-button[data-v-23647efa],
.finished-status .step-exchange-panel_badges[data-v-23647efa],
.finished-status .step-panel-info[data-v-23647efa] {
  opacity: 1;
}

.badges-panel__badges[data-v-770e730c] {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.elements-container[data-v-9f7537f4] {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 200px;
  padding: 16px;
  width: 100%;
}

.elements-container_border[data-v-9f7537f4] {
  border-image-slice: 1;
  border-image-source: linear-gradient(
    0deg,
    rgba(160, 120, 156, 0) 8%,
    #a0789c 45%,
    #a0789c 55%,
    rgba(160, 120, 156, 0) 92%
  );
  border-right: 1px solid;
}

.badges-panel__badges_badge[data-v-770e730c] {
  width: 50%;
}

.gradient[data-v-b8a51234] {
  display: none;
  transition: display 1s;
}
.gradient_show[data-v-b8a51234] {
  display: flex;
}

.text[data-v-b8a51234] {
  font-weight: 700;
  letter-spacing: 0.03125rem;
  line-height: 1rem;
}

.elements-container_description[data-v-9f7537f4] {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  text-align: center;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

.button[data-v-0f417838] {
  align-items: center;
  border: 1px solid #e35760;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.button_primary[data-v-0f417838] {
  background-color: #e35760;
  color: #fff;
  height: 60px;
}

.button_lg[data-v-0f417838] {
  height: 60px;
}

.exchange-side-trustpilot[data-v-bd788262] {
  background-color: #27ae60;
  border-color: #27ae60;
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 1.5rem;
  text-transform: none;
  width: 100%;
}

.badges-panel_trustpilot[data-v-770e730c] {
  margin-top: 0;
  max-width: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.badges-panel_trustpilot_show[data-v-770e730c] {
  opacity: 1;
}
.ml-1 {
  margin-left: 0.25rem;
}
.icon-trustpilot[data-v-7c55c78f] {
  height: 32px;
  width: 120px;
}
.exchange-side-trustpilot__icon[data-v-bd788262] {
  bottom: 2px;
  position: relative;
  width: 113px;
}

.icon-trustpilot__white_star[data-v-7c55c78f],
.icon-trustpilot__white_text[data-v-7c55c78f] {
  transition: fill 0.2s ease;
  fill: #fff;
}

.step-exchange-panel__info_container[data-v-23647efa] {
  padding: 0 32px;
}

.step-exchange-panel__info[data-v-23647efa] {
  border: 1px solid #51354f;
  border-radius: 8px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  position: relative;
  row-gap: 5px;
  width: 100%;
}

.step3-pair-component[data-v-4b3ea522] {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.step-exchange-panel__info_coin[data-v-23647efa] {
  height: 36px;
  width: 100%;
}
.step3-pair-component__amount[data-v-4b3ea522] {
  color: #a0789c;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.step3-pair-component__amount_label[data-v-4b3ea522] {
  font-size: 0.625rem;
  line-height: 0.75rem;
}

.step3-pair-component__coin[data-v-4b3ea522] {
  align-items: center;
  border: none;
  color: #fff;
  cursor: default;
  display: flex;
  font-size: 1.125rem;
  height: 100%;
  justify-content: flex-start;
  line-height: 1.25rem;
  text-transform: uppercase;
  width: 90px;
}

.step3-pair-component__coin[data-v-4b3ea522]:before {
  border-left: 1px solid #51354f;
  content: '';
  height: 100%;
}

.coin-icon[data-v-fdb507b0] {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  position: relative;
}

.coin-icon__sm[data-v-fdb507b0],
.coin-icon__sm .coin-icon__image[data-v-fdb507b0] {
  height: 20px;
  width: 20px;
}

.step3-pair-component__coin-icon[data-v-4b3ea522] {
  margin: 0 5px;
  width: 20px;
}

.coin-icon__white[data-v-fdb507b0] {
  filter: invert(1);
}

.coin-icon__sm[data-v-fdb507b0],
.coin-icon__sm .coin-icon__image[data-v-fdb507b0] {
  height: 20px;
  width: 20px;
}

.d-f-c {
  display: flex;
  flex-direction: column;
}

.step3-pair-component__coin-label[data-v-4b3ea522] {
  align-items: flex-start;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.step3-pair-component__coin-label-network[data-v-4b3ea522] {
  color: #e35760;
  font-size: 0.5625rem;
  line-height: 0.9375rem;
}

.step-exchange-panel__info_border[data-v-23647efa] {
  border-right: 1px solid #51354f;
}

.step-exchange-panel__rate[data-v-23647efa] {
  align-items: center;
  display: flex;
  font-size: 0.75rem;
  letter-spacing: 0.03125rem;
  line-height: 1rem;
  margin-top: 12px;
}

.step-exchange-panel__rate_label[data-v-23647efa] {
  color: #a0789c;
  margin-right: 10px;
}

.step-exchange-panel__animated-content[data-v-23647efa] {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s ease-out;
  will-change: auto;
}
.step-exchange-panel__animated-content.show[data-v-23647efa] {
  max-height: 1000px;
}

.step-exchange-panel__buttons[data-v-23647efa] {
  display: flex;
  gap: 16px;
  margin-top: 32px;
  opacity: 0;
  padding: 0 32px;
  transition: opacity 0.3s ease-out;
  width: 100%;
}

.button[data-v-0f417838] {
  align-items: center;
  border: 1px solid #e35760;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  transition: background-color 0.2s ease;
}
.button_outline[data-v-0f417838] {
  background-color: transparent;
  color: #e35760;
  font-weight: 400;
  height: 60px;
  width: auto;
}
.button_lg[data-v-0f417838] {
  height: 60px;
}
.button_lg[data-v-0f417838],
.button_md[data-v-0f417838] {
  font-size: 1rem;
  font-weight: 500;
}
.button_uppercase[data-v-0f417838] {
  text-transform: uppercase;
}
.step-exchange-panel__buttons_button[data-v-23647efa],
.step-exchange-panel__buttons_link[data-v-23647efa] {
  width: 100%;
}

a {
  color: #fff;
}

a,
a:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
}
.step-exchange-panel__collapse[data-v-23647efa] {
  border-top: 1px solid #51354f;
  margin-top: 32px;
}

.step-panel-info[data-v-853e693a] {
  margin-left: 0;
  margin-right: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0 2rem;
  transition: max-height 0.2s linear;
}

.step-panel-info__opened[data-v-853e693a] {
  max-height: 600px;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}

.step-panel-info__row[data-v-853e693a] {
  padding-top: 2rem;
}

.col-12 {
  display: block;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col-md-6 {
    display: block;
    max-width: 50%;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
  }
}

.d-f {
  display: flex;
}

.field[data-v-7ed86d02] {
  align-items: flex-end;
  display: flex;
}

.field__label[data-v-7ed86d02] {
  flex-shrink: 0;
  font-size: 0.88rem;
  line-height: 1.5rem;
  word-break: break-word;
}

.field__label_light-violet[data-v-7ed86d02] {
  color: #a0789c;
}

.field__wrapper[data-v-7ed86d02] {
  align-items: center;
  display: flex;
}

.field__value[data-v-7ed86d02] {
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 0;
  word-break: break-word;
}

.field__value_small[data-v-7ed86d02] {
  font-size: 0.8125rem;
  font-weight: 400;
}

.field__value_link[data-v-7ed86d02] {
  cursor: pointer;
  padding-right: 0.2rem;
  transition: color 0.2s ease;
}
.button_transparent[data-v-0f417838] {
  align-items: center;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  height: 60px;
  justify-content: center;
  transition: color 0.2s ease;
  width: inherit;
}
.button_lg[data-v-0f417838],
.button_md[data-v-0f417838] {
  font-size: 1rem;
  font-weight: 500;
}

.field__button[data-v-7ed86d02] {
  display: inline-flex;
  height: 1rem;
  padding: 0 0.25rem 0 0;
}
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -0.125em;
}
.field__small-button[data-v-7ed86d02] {
  height: 13px;
  transition: color 0.2s ease;
  width: 13px;
}
.field__small-button_light-violet[data-v-7ed86d02] {
  color: #a0789c;
}

.d-fc,
.d-fcw {
  display: flex;
  justify-content: center;
}

.step-exchange-panel step-panel-info[data-v-23647efa],
.step-exchange-panel__details[data-v-23647efa],
.step-exchange-panel__hide-button[data-v-23647efa] {
  opacity: 0;
  transition: opacity 1.5s ease-out;
  will-change: opacity;
}

.step-exchange-panel__hide-button[data-v-23647efa] {
  padding-top: 1rem;
}

.step-exchange-panel__details[data-v-23647efa] {
  color: #a0789c;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.step-exchange-panel__caret[data-v-23647efa] {
  color: #6b4d68;
  height: 20px;
  margin-left: 5px;
  transition: transform 0.2s ease;
  width: 20px;
  z-index: 10;
}
.step-exchange-panel__caret_collapse[data-v-23647efa] {
  transform: rotate(180deg);
}
