.index-news {
  &__title {
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 40px;
  }

  &__container {
    display: flex;
    gap: 105px;
  }

  &__carousel {
    flex-basis: 50%;
    height: 270px;
  }

  &__item {
    flex-basis: 50%;
    transition: opacity 0.3s ease;
  }
}

.index-news-carousel {
  position: relative;

  &__wrapper {
    position: absolute;
    right: 0;
    width: 100%;
  }

  &__container {
    padding: 0 0.5rem;
    display: inline-block;
    width: 100%;
  }

  &__image {
    height: 243px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }

  @media screen and (min-width: 992px) {
    &__item {
      display: none;
    }
  }

  &__arrow {
    color: #a0789c;
    cursor: pointer;
    height: 24px;
    transition: color 0.2s ease;
    width: 24px;
  }

  &__arrow-container {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }

  &__arrow-container_right {
    left: auto;
    right: 0;
  }
}

.index-news-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  justify-content: center;

  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-bottom: 0;
  }

  &__date-time {
    color: #a0789c;
  }

  &__subtitle {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  &__link {
    color: #e35760;
    font-size: 0.875rem;
    line-height: 1.125rem;
    max-width: 70px;
    position: relative;

    &:after {
      content: '›';
      font-size: 1.5rem;
      position: absolute;
      right: -12px;
      top: -3px;
    }
  }
}

@media screen and (min-width: 992px) {
  .carousel.index-news .slick-list {
    -webkit-mask-image: linear-gradient(
      90deg,
      hsla(0, 0%, 85%, 0),
      #d9d9d9 25%,
      #d9d9d9 75.88%,
      hsla(0, 0%, 85%, 0)
    );
    mask-image: linear-gradient(
      90deg,
      hsla(0, 0%, 85%, 0),
      #d9d9d9 25%,
      #d9d9d9 75.88%,
      hsla(0, 0%, 85%, 0)
    );

    width: 100%;

    @media screen and (min-width: 576px) {
      & {
        width: 540px;
      }
    }

    @media screen and (min-width: 768px) {
      & {
        width: 720px;
      }
    }

    @media screen and (min-width: 992px) {
      & {
        width: 412px;
      }
    }

    @media screen and (min-width: 1200px) {
      & {
        width: 502px;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .index__margin {
    margin-top: 80px;
  }

  .index-news__carousel {
    height: 310px;
  }

  .index-news-carousel__arrow-container_right {
    right: -1rem;
  }
}

@media screen and (max-width: 991px) {
  .index__margin {
    margin-top: 69px;
  }

  .index-news__title {
    font-size: 2.5rem;
    font-size: 2rem;
    line-height: 3rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .index-news__container {
    flex-direction: column;
    gap: initial;
  }

  .index-news__carousel {
    flex-basis: auto;
    height: 370px;
  }

  .index-news-carousel__wrapper {
    // right: -1rem;
    // width: calc(100% + 2rem);
  }
  .index-news-carousel__container {
    padding: 0 1rem;
  }

  .index-news-carousel__image {
    height: 160px;
    margin-bottom: 0.5rem;
  }

  .index-news-item__title {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .index-news-item__date-time {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  .index-news-item__subtitle {
    font-size: 1rem;
    line-height: 1.125rem;
  }

  .index-news__item {
    display: none;
  }

  .index-news-carousel__arrow-container {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .index__margin {
    margin-top: 48px;
  }

  .index-news__carousel {
    height: 440px;
  }
}

@media screen and (max-width: 575px) {
  .index__margin {
    margin-top: 40px;
  }
}
