.c-status__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.c-status {
  display: flex;
  align-items: center;
  color: var(--tui-text-02);
  &.active {
    color: var(--tui-text-01);
  }
}

.c-status__icon {
  margin-right: 10px;
  color: var(--tui-text-02);
  background-color: #36293b;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep {
  @media screen and (max-width: 900px) {
    .status-desktop {
      display: none;
    }
  }
}

::ng-deep {
  .status-mobile {
    display: none;
  }

  @media screen and (max-width: 900px) {
    .status-mobile {
      display: block;

      .c-status__container {
        flex-direction: row;
      }
    }
  }
}

.exchange-side-status__border {
  align-items: center;
  display: flex;
  height: 24px;
  // margin-left: 16px;
  display: none;
}

@media screen and (max-width: 900px) {
  .exchange-side-status__border {
    height: auto;
    // margin-right: 16px;
    display: flex;
  }
}

.exchange-side-status__border:before {
  background: #36293b;
  content: '';
  height: 16px;
  width: 1px;
}

@media screen and (max-width: 900px) {
  .exchange-side-status__border:before {
    background: #a0789c;
    height: 1px;
    width: 16px;
  }
}

@media screen and (max-width: 900px) {
  .exchange-side-status__border:before {
    background: #a0789c;
    height: 1px;
    width: 16px;
  }
}

@media screen and (max-width: 800px) {
  .c-status {
    .c-status-label {
      display: none;
    }
  }

  .c-status.loading {
    .c-status-label {
      display: block;
    }
  }
}

.step4__status {
  margin-bottom: 1.5rem;
}
.exchange-side-field {
  align-items: flex-end;
  display: flex;
}
.exchange-side-id {
  margin-bottom: 2rem;
}

.exchange-side-field__title {
  color: #a0789c;
  font-size: 0.8125rem;
  margin-right: 5px;
  white-space: nowrap;
}

.exchange-side-field__text {
  font-size: 0.8125rem;
}

.exchange-side-id__hover {
  cursor: pointer;
  transition: color 0.2s;
}
.social-icon {
  color: gray;
  font-size: 1.15rem;
  transition: color 0.2s;
}
.exchange-side-id__icon {
  height: 14px;
  margin-left: 4px;
  outline: none;
  width: 14px;
}
.svg-inline--fa,
svg:not(:root).svg-inline--fa {
  overflow: visible;
}
.exchange-side-id__hover:hover,
.exchange-side-id__hover:hover .exchange-side-id__icon {
  color: #e35760;
}
