<div class="c-status-wrapper">
  <div class="c-status__container">
    <div
      class="c-status"
      [ngClass]="{
        active: (exchangeStep$ | async) >= 1,
        loading: (exchangeStep$ | async) === 1
      }"
    >
      <div class="c-status__icon">
        <app-status-icon [status]="calculateStatus(1)"></app-status-icon>
      </div>
      <div class="c-status-label">Creating exchange</div>
    </div>
    <div class="exchange-side-status__border"></div>
    <div
      class="c-status"
      [ngClass]="{
        active: (exchangeStep$ | async) >= 2,
        loading: (exchangeStep$ | async) === 2
      }"
    >
      <div class="c-status__icon">
        <app-status-icon [status]="calculateStatus(2)"></app-status-icon>
      </div>
      <div class="c-status-label">Awaiting payment</div>
    </div>
    <div class="exchange-side-status__border"></div>
    <div
      class="c-status"
      [ngClass]="{
        active: (exchangeStep$ | async) >= 3,
        loading: (exchangeStep$ | async) >= 3
      }"
    >
      <div class="c-status__icon">
        <app-status-icon [status]="calculateStatus(3)"></app-status-icon>
      </div>
      <div class="c-status-label" *ngIf="(exchangeStep$ | async) !== 4">Processing</div>
      <div class="c-status-label" *ngIf="(exchangeStep$ | async) === 4">Exchange completed</div>
    </div>
  </div>
  <div class="c-status-exchange-id" *ngIf="(exchangeInfo$ | async).id">
    <div class="exchange-side-field exchange-side-id step4__status" id="exchange-side-id">
      <span class="exchange-side-field__title"> Exchange ID: </span>
      <span class="exchange-side-field__text exchange-side-field__text-"> </span>
      <div class="exchange-side-id__hover">
        {{ (exchangeInfo$ | async).id }}
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="clone"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="social-icon exchange-side-id__icon svg-inline--fa fa-clone fa-w-16 social-icon_violet"
        >
          <path
            fill="currentColor"
            d="M288 448H64V224h64V160H64c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H288c35.3 0 64-28.7 64-64V384H288v64zm-64-96H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224c-35.3 0-64 28.7-64 64V288c0 35.3 28.7 64 64 64z"
            class=""
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>
