<div class="affiliate-page">
  <div class="affiliate-header">
    <h1 class="affiliate-header__title">Affiliate program</h1>
    <p class="affiliate-header__text">
      Earn up to a 50% cut from every crypto deal made via SwapSpace on your platform. Simple
      affiliate sign-up, straightforward platform monetization.
    </p>
    <div class="affiliate-form affiliate-header__form">
      <button
        type="button"
        class="button affiliate-form_button button_xl button_primary button_uppercase button_"
      >
        GET AFFILIATE ACCOUNT
      </button>
      <div class="affiliate-form_link_container">
        <div class="affiliate-form_link">Already have an account</div>
      </div>
    </div>
  </div>
  <div id="affiliate-advantages" class="affiliate-advantages">
    <div class="affiliate-advantages__tile">
      <div class="affiliate-advantages__tile_front">
        <div class="affiliate-advantages__tile_num">3550+</div>
        <h3 class="affiliate-advantages__tile_title">Coins without limits</h3>
      </div>
    </div>
    <div class="affiliate-advantages__tile">
      <div class="affiliate-advantages__tile_front">
        <div class="affiliate-advantages__tile_num">30</div>
        <h3 class="affiliate-advantages__tile_title">Integrated exchangers</h3>
      </div>
    </div>
    <div class="affiliate-advantages__tile">
      <div class="affiliate-advantages__tile_front">
        <div class="affiliate-advantages__tile_num">115</div>
        <h3 class="affiliate-advantages__tile_title">Blockchains</h3>
      </div>
    </div>
  </div>
  <div class="affiliate-features affiliate-page__features">
    <div class="affiliate-features__container">
      <img
        src="assets/img/feature-1.eafb323.svg"
        alt="Best rates on the market"
        width="38"
        height="38"
        class="affiliate-features__image"
      />
      <p class="affiliate-features__text">Best rates on the market</p>
    </div>
    <div class="affiliate-features__container">
      <img
        src="assets/img/feature-2.b254d2b.svg"
        alt="No exchange limits"
        width="38"
        height="38"
        class="affiliate-features__image"
      />
      <p class="affiliate-features__text">No exchange limits</p>
    </div>
    <div class="affiliate-features__container">
      <img
        src="assets/img/feature-3.e3682dc.svg"
        alt="No sign-up for end users"
        width="38"
        height="38"
        class="affiliate-features__image"
      />
      <p class="affiliate-features__text">No sign-up for end users</p>
    </div>
    <div class="affiliate-features__container">
      <img
        src="assets/img/feature-4.f545d26.svg"
        alt="Fixed &amp; floating rates"
        width="38"
        height="38"
        class="affiliate-features__image"
      />
      <p class="affiliate-features__text">Fixed &amp; floating rates</p>
    </div>
    <div class="affiliate-features__container">
      <img
        src="assets/img/feature-5.0c2107e.svg"
        alt="Easy-to-use"
        width="38"
        height="38"
        class="affiliate-features__image"
      />
      <p class="affiliate-features__text">Easy-to-use</p>
    </div>
    <div class="affiliate-features__container">
      <img
        src="assets/img/feature-6.ca156a8.svg"
        alt="24/7 live support"
        width="38"
        height="38"
        class="affiliate-features__image"
      />
      <p class="affiliate-features__text">24/7 live support</p>
    </div>
  </div>
  <div>
    <div class="affiliate-page__code-block-background"></div>
    <div class="affiliate-code-block affiliate-page__code-block">
      <div class="affiliate-code-block__text-block">
        <h2 class="affiliate-code-block__text-block_title">Just few lines of code</h2>
        <p class="affiliate-code-block__text-block_text">
          Our exchange widget can be fully customized for you and integrated into your app or
          website in 10 minutes — see for yourself.
        </p>
      </div>
      <div class="affiliate-code-block__interactive-block">
        <div class="affiliate-code-block__interactive-block_settings-container">
          <p class="affiliate-code-block__interactive-block_settings-container--mode">HTML</p>
          <div class="affiliate-code-block__interactive-block_settings-container--tabs-background">
            <div
              class="toggle-tabs affiliate-code-block__interactive-block_settings-container--tabs-background_tabs"
            >
              <div class="toggle-tabs__tab toggle-tabs__tab_active">Code Mode</div>
              <div class="toggle-tabs__tab">Live Mode</div>
            </div>
          </div>
        </div>
        <div class="affiliate-code-block__interactive-block--code">
          <img
            src="assets/img/code.cd8f006.svg"
            alt="code-block"
            width="100%"
            height="100%"
            class="affiliate-code-block__interactive-block--code_image"
          />
          <img
            src="assets/img/code-adaptive.fccb3ca.svg"
            alt="code-block"
            width="100%"
            height="100%"
            class="affiliate-code-block__interactive-block--code_image-adaptive"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="project-reviews">
    <h2 class="project-reviews__title">Trusted by</h2>
    <div class="project-reviews__main-container">
      <div class="project-reviews__main-container_tile">
        <img
          src="assets/img/apostrophe-icon.a4c68e2.svg"
          alt="apostrophe-icon"
          loading="lazy"
          width="32"
          height="22"
          class="project-reviews__main-container_tile--apostrophe"
        />
        <p class="project-reviews__main-container_tile--text">
          "We have been working with SwapSpace for a long time, our trusted partnership has always
          been a priority for ChangeNOW. We are happy to work and develop together with SwapSpace!"
        </p>
        <div class="project-reviews__main-container_tile--info-container">
          <img
            src="assets/img/change-now-white.1933079.svg"
            alt="partner-logo"
            loading="lazy"
            width="100"
            height="45"
            class="project-reviews__main-container_tile--info-container--logo"
          />
          <p class="project-reviews__main-container_tile--info-container--author">Pauline</p>
          <p class="project-reviews__main-container_tile--info-container--position">
            ChangeNOW account manager
          </p>
        </div>
      </div>
      <div class="project-reviews__main-container_tile">
        <img
          src="assets/img/apostrophe-icon.a4c68e2.svg"
          alt="apostrophe-icon"
          loading="lazy"
          width="32"
          height="22"
          class="project-reviews__main-container_tile--apostrophe"
        />
        <p class="project-reviews__main-container_tile--text">
          “Swapspace has proven to be an invaluable and trusted partner for Changelly. Their
          user-friendly platform, commitment to transparency, and support for a wide range of crypto
          assets make them an essential companion in navigating the dynamic world of
          cryptocurrencies”
        </p>
        <div class="project-reviews__main-container_tile--info-container">
          <img
            src="assets/img/changelly-white.7c04084.svg"
            alt="partner-logo"
            loading="lazy"
            width="100"
            height="45"
            class="project-reviews__main-container_tile--info-container--logo"
          />
          <p class="project-reviews__main-container_tile--info-container--author">Jake Cormack</p>
          <p class="project-reviews__main-container_tile--info-container--position">
            CEO at Changelly
          </p>
        </div>
      </div>
      <div class="project-reviews__main-container_tile">
        <img
          src="assets/img/apostrophe-icon.a4c68e2.svg"
          alt="apostrophe-icon"
          loading="lazy"
          width="32"
          height="22"
          class="project-reviews__main-container_tile--apostrophe"
        />
        <p class="project-reviews__main-container_tile--text">
          “SwapSpace's distinctive market offering, operating across top exchange partners, enabled
          us to offer our users the most competitive swap rates. Smooth integration with easy-to-use
          APIs saved us time and SwapSpace team provided us with an essential support and
          information during the integration”
        </p>
        <div class="project-reviews__main-container_tile--info-container">
          <img
            src="assets/img/rabbit-white.19a3f49.svg"
            alt="partner-logo"
            loading="lazy"
            width="100"
            height="45"
            class="project-reviews__main-container_tile--info-container--logo"
          />
          <p class="project-reviews__main-container_tile--info-container--author">Nick Mityagin</p>
          <p class="project-reviews__main-container_tile--info-container--position">
            CTO at Rabbit.io
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="how-it-works-navi mb-5"
    image="affiliate/step1.svg,affiliate/step2.svg,affiliate/step3.svg,affiliate/step4.svg"
  >
    <h2 class="how-it-works-navi__title">Нow to use it?</h2>
    <nav class="how-it-works-navi__row">
      <div class="how-it-works-navi__step-wrapper">
        <a
          href="#step-1"
          class="how-it-works-navi__step-container how-it-works-navi__step-container_inactive how-it-works-navi__first-step how-it-works-navi__step-container_exchange-crypto-gradient-0"
          ><div class="how-it-works-navi__container">
            <div class="how-it-works-navi__step-text">STEP 1</div>
            <div class="how-it-works-navi__text">Create your personal affiliate account</div>
          </div></a
        >
      </div>
      <div class="how-it-works-navi__step-wrapper">
        <a
          href="#step-2"
          class="how-it-works-navi__step-container how-it-works-navi__step-container_inactive how-it-works-navi__step-container_exchange-crypto-gradient-1"
          ><div class="how-it-works-navi__container">
            <div class="how-it-works-navi__step-text">STEP 2</div>
            <div class="how-it-works-navi__text">Choose your tool</div>
          </div></a
        >
      </div>
      <div class="how-it-works-navi__step-wrapper">
        <a
          href="#step-3"
          class="how-it-works-navi__step-container how-it-works-navi__step-container_inactive how-it-works-navi__step-container_exchange-crypto-gradient-2"
          ><div class="how-it-works-navi__container">
            <div class="how-it-works-navi__step-text">STEP 3</div>
            <div class="how-it-works-navi__text">Set up a tool</div>
          </div></a
        >
      </div>
      <div class="how-it-works-navi__step-wrapper">
        <a
          href="#step-4"
          class="how-it-works-navi__step-container how-it-works-navi__step-container_inactive how-it-works-navi__last-step how-it-works-navi__step-container_exchange-crypto-gradient-3"
          ><div class="how-it-works-navi__container">
            <div class="how-it-works-navi__step-text">STEP 4</div>
            <div class="how-it-works-navi__text">Earn profit</div>
          </div></a
        >
      </div>
    </nav>
  </div>
  <div class="row affiliate-calculator">
    <div class="column affiliate-calculator__description_container col-12 col-lg-5 col-xl-5">
      <h2 class="affiliate-calculator__title">Calculate your profit</h2>
      <p class="affiliate-calculator__description">
        It's easy to earn crypto with us! We created a profit calculator that shows you numbers
        based on our historical data. Use it to estimate your earning potential.
      </p>
      <button
        type="button"
        class="button affiliate-calculator__button button_lg button_primary button_uppercase button_"
      >
        START EARNING
      </button>
    </div>
    <div class="column col-12 col-lg-12 col-xl-7">
      <div class="affiliate-calculator-tile">
        <div class="affiliate-calculator-tile__container">
          <div class="affiliate-progress">
            <div class="affiliate-progress__label">
              Monthly turnover
              <div class="affiliate-progress__description">30 BTC</div>
            </div>
            <div class="affiliate-progress__container">
              <div class="affiliate-progress__step">
                <div class="affiliate-progress__circle affiliate-progress__circle_active"></div>
                <div class="affiliate-progress__line affiliate-progress__line_active"></div>
              </div>
              <div class="affiliate-progress__step">
                <div class="affiliate-progress__circle affiliate-progress__circle_active"></div>
                <div class="affiliate-progress__line affiliate-progress__line_active"></div>
              </div>
              <div class="affiliate-progress__step">
                <div
                  class="affiliate-progress__circle affiliate-progress__circle_active affiliate-progress__circle_current"
                ></div>
                <div class="affiliate-progress__line"></div>
              </div>
              <div class="affiliate-progress__step">
                <div class="affiliate-progress__circle"></div>
                <div class="affiliate-progress__line"></div>
              </div>
              <div class="affiliate-progress__step">
                <div class="affiliate-progress__circle"></div>
              </div>
            </div>
          </div>
          <div class="affiliate-progress">
            <div class="affiliate-progress__label">
              Period
              <div class="affiliate-progress__description">6 Month</div>
            </div>
            <div class="affiliate-progress__container">
              <div class="affiliate-progress__step">
                <div class="affiliate-progress__circle affiliate-progress__circle_active"></div>
                <div class="affiliate-progress__line affiliate-progress__line_active"></div>
              </div>
              <div class="affiliate-progress__step">
                <div class="affiliate-progress__circle affiliate-progress__circle_active"></div>
                <div class="affiliate-progress__line affiliate-progress__line_active"></div>
              </div>
              <div class="affiliate-progress__step">
                <div
                  class="affiliate-progress__circle affiliate-progress__circle_active affiliate-progress__circle_current"
                ></div>
                <div class="affiliate-progress__line"></div>
              </div>
              <div class="affiliate-progress__step">
                <div class="affiliate-progress__circle"></div>
                <div class="affiliate-progress__line"></div>
              </div>
              <div class="affiliate-progress__step">
                <div class="affiliate-progress__circle"></div>
              </div>
            </div>
          </div>
          <div class="affiliate-calculator-tile__fee">
            <div class="affiliate-calculator__fee-text">Your fee is up to 0.5%</div>
            <div class="help affiliate-calculator-tile__help">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="far"
                data-icon="circle-question"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
                class="svg-inline--fa fa-circle-question fa-w-16 help__icon help__icon_violet-light"
              >
                <path
                  fill="currentColor"
                  d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm169.8-90.7c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24V250.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1H222.6c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
                  class=""
                ></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="affiliate-profit affiliate-calculator-tile__profit">
          <p>Profit</p>
          <div class="affiliate-profit_calc">
            <span class="affiliate-profit__title"> ~0.360 </span>
            <b class="affiliate-profit_calc_btc"> BTC </b>
          </div>
          <span class="affiliate-profit_usd"> ~$24111.61 </span>
        </div>
        <div class="affiliate-calculator-tile__coins"></div>
      </div>
    </div>
  </div>
  <div class="affiliate-contacts affiliate-page__features">
    <div class="affiliate-contacts__image"></div>
    <div class="affiliate-contacts__container">
      <span class="affiliate-contacts__text"
        >If you want to discuss more solutions, talk about your personal customization, or have any
        questions, email us at
        <a href="mailto:sofia@swapspace.co" target="_blank" class="affiliate-contacts__email">
          sofia@swapspace.co
        </a></span
      >
    </div>
  </div>
  <div class="affiliate-our-tools">
    <h2 class="affiliate-our-tools__title">Our tools</h2>
    <p class="affiliate-our-tools__text">
      We know that no tool suits everybody, so we offer a variety of solutions and options for you:
      from highly-customizable API to simple referral links — just choose the tool that suits you
      better and bring crypto to your audience!
    </p>
    <div class="row">
      <div class="column mb-4 col-12 col-md-6 col-lg-6">
        <div class="affiliate-our-tools-tile">
          <img
            alt="API"
            src="assets/img/tool-1.a6eb3e0.svg"
            class="affiliate-our-tools-tile__image"
          />
          <h3 class="affiliate-our-tools-tile__title">API</h3>
          <p class="affiliate-our-tools-tile__text">
            Fully customizable and easy-to-integrate white label solution for any service
          </p>
        </div>
      </div>
      <div class="column mb-4 col-12 col-md-6 col-lg-6">
        <div class="affiliate-our-tools-tile">
          <img
            alt="Referral Link"
            src="assets/img/tool-2.a9d4a80.svg"
            class="affiliate-our-tools-tile__image"
          />
          <h3 class="affiliate-our-tools-tile__title">Referral Link</h3>
          <p class="affiliate-our-tools-tile__text">
            Place your own unique referral link on any platform you want and get paid for every
            exchange made through it
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column col-12 col-md-6 col-lg-6">
        <div class="affiliate-our-tools-tile affiliate-our-tools-tile__large">
          <img
            alt="Exchange Widget"
            src="assets/img/tool-3.09c0bc0.png"
            class="affiliate-our-tools-tile__image"
          />
          <h3 class="affiliate-our-tools-tile__title">Exchange Widget</h3>
          <p class="affiliate-our-tools-tile__text">
            Enable your customers to exchange their crypto without leaving your website with our
            personalized adaptive widget
          </p>
        </div>
      </div>
      <div class="column affiliate-our-tools__tile-container col-12 col-md-6 col-lg-6">
        <div class="affiliate-our-tools-tile">
          <img
            alt="Buttons"
            src="assets/img/tool-4.8ffe99c.svg"
            class="affiliate-our-tools-tile__image"
          />
          <h3 class="affiliate-our-tools-tile__title">Buttons</h3>
          <p class="affiliate-our-tools-tile__text">
            Deliver easy access to numerous crypto exchange offers to your users — just one click
            away
          </p>
        </div>
        <div class="affiliate-our-tools-tile">
          <img
            alt="Banners"
            src="assets/img/tool-5.c1b6527.png"
            class="affiliate-our-tools-tile__image"
          />
          <h3 class="affiliate-our-tools-tile__title">Banners</h3>
          <p class="affiliate-our-tools-tile__text">
            Draw your users' attention to the opportunity to look at the best crypto exchange offers
            by placing our banner
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="affiliate-content">
    <div class="affiliate-content__text">
      <h2 class="affiliate-content__text_title">
        Join SwapSpace affiliate program and start earning profit with us
      </h2>
    </div>
    <div class="affiliate-content__modal">
      <form class="affiliate-form-register">
        <label
          for="S7NLOd"
          class="form-input affiliate-form-register__input form-input_dark form-input_rounded form-input_xl"
        >
          <span class="form-input__label">
            <span class="form-input__label_text"> Email </span>
          </span>
          <span class="form-input__wrapper">
            <input
              id="S7NLOd"
              spellcheck="false"
              max="Infinity"
              min="-Infinity"
              maxlength="Infinity"
              placeholder="Enter e-mail"
              step="any"
              trim="true"
              type="email"
              name="email"
              autocomplete="on"
              lang="en"
              inputmode="email"
              class="form-input__input form-input__input_rounded"
            />
          </span>
        </label>
        <div class="affiliate-form-register__checkbox-container">
          <span class="form-checkbox affiliate-form-register__checkbox form-checkbox_checked">
            <input id="zYfbl1" type="checkbox" class="form-checkbox__checkbox" value="true" />
            <label for="zYfbl1" class="form-checkbox__label form-checkbox_label-highlight"> </label>
          </span>
          <div class="affiliate-form-register__accept">
            I agree to the terms of the
            <a href="/terms" class="affiliate-form-register__link" target="_blank"> Terms of Use </a
            >,
            <a href="/privacy-policy" class="affiliate-form-register__link" target="_blank">
              Privacy Policy
            </a>
            and
            <a href="/affiliate-terms" class="affiliate-form-register__link" target="_blank">
              Affiliate Terms
            </a>
            of SWAPSPACE LLC
          </div>
        </div>
        <div class="affiliate-form-register__checkbox-container">
          <span class="form-checkbox affiliate-form-register-accept__checkbox">
            <input id="0db5Ms" type="checkbox" class="form-checkbox__checkbox" value="false" />
            <label for="0db5Ms" class="form-checkbox__label form-checkbox_label-highlight"> </label>
          </span>
          <div class="affiliate-form-register__accept">
            I want to receive the hottest SwapSpace news in the newsletter
          </div>
        </div>
        <div class="affiliate-form-register__recaptcha">
          <div
            data-sitekey="6LeOh-AUAAAAAECCwdSfkcOTVrrKvc7AjVazooU9"
            data-size="normal"
            data-theme="light"
            data-badge="bottomright"
            data-tabindex="0"
            data-callback="recaptchaSuccessCallback"
            data-expired-callback="recaptchaExpiredCallback"
            data-error-callback="recaptchaErrorCallback"
            class="g-recaptcha"
          >
            <div style="width: 304px; height: 78px">
              <div>
                <iframe
                  title="reCAPTCHA"
                  width="304"
                  height="78"
                  role="presentation"
                  name="a-bou2pz4tlsjd"
                  frameborder="0"
                  scrolling="no"
                  sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"
                  src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LeOh-AUAAAAAECCwdSfkcOTVrrKvc7AjVazooU9&amp;co=aHR0cHM6Ly9zd2Fwc3BhY2UuY286NDQz&amp;hl=en&amp;v=lqsTZ5beIbCkK4uGEGv9JmUR&amp;theme=light&amp;size=normal&amp;badge=bottomright&amp;cb=vz8ac3t4o4tt"
                ></iframe>
              </div>
              <textarea
                id="g-recaptcha-response"
                name="g-recaptcha-response"
                class="g-recaptcha-response"
                style="
                  width: 250px;
                  height: 40px;
                  border: 1px solid rgb(193, 193, 193);
                  margin: 10px 25px;
                  padding: 0px;
                  resize: none;
                  display: none;
                "
              ></textarea>
            </div>
            <iframe style="display: none"></iframe>
          </div>
        </div>
        <button
          type="submit"
          class="button affiliate-form-register__submit button_lg button_primary button_uppercase button_"
          id="bottom_page_registration"
        >
          CREATE ACCOUNT
        </button>
      </form>
      <div class="affiliate-content__modal_link">Already have an account</div>
    </div>
  </div>
</div>
