<section id="news-list" class="news-list">
  <nav class="breadcrumbs news-list__breadcrumbs">
    <!---->
    <span
      ><a
        href="/"
        class="breadcrumbs__link nuxt-link-active breadcrumbs__arrow breadcrumbs__arrow_violet-light breadcrumbs__link_violet-light"
      >
        Main
      </a></span
    ><span
      ><span
        class="breadcrumbs__text breadcrumbs__text-white breadcrumbs__text-bold breadcrumbs__text_violet-light"
      >
        News
      </span></span
    >
  </nav>
  <div class="news-list__header">
    <h1 class="news-list__header_title">News</h1>
    <div class="search-input news-list__header_search">
      <label
        for="-wNLR3"
        class="form-input form-input_dark form-input_rounded form-input_md search-input__input_md search-input__input_dark"
        ><span class="form-input__label"
          ><!---->
          <!----></span
        >
        <span class="form-input__wrapper"
          ><input
            id="-wNLR3"
            spellcheck="false"
            max="Infinity"
            min="-Infinity"
            maxlength="Infinity"
            placeholder="Search"
            step="any"
            trim="true"
            type="text"
            autocomplete="off"
            lang="en"
            inputmode="text"
            class="form-input__input form-input__input_rounded"
          />
          <!---->
          <!----></span
        ></label
      >
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="magnifying-glass"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        class="fa-search svg-inline--fa fa-magnifying-glass fa-w-16 fa-search_dark search-input__icon-without-dropdown"
      >
        <path
          fill="currentColor"
          d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
          class=""
        ></path>
      </svg>
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="xmark"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 384 512"
        class="fa-close svg-inline--fa fa-xmark fa-w-12 search-input__icon-without-dropdown"
        style="display: none"
      >
        <path
          fill="currentColor"
          d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
          class=""
        ></path>
      </svg>
    </div>
  </div>
  <div class="news-list__container">
    <a href="/news/swapspace-integrates-xgram-io" class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/32b096e8a5ad0ba09fed2d21816d5786e95e9d315ada147eaec917a6506f9c7c.png"
          alt="SwapSpace integrates Xgram.io"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3 title="SwapSpace integrates Xgram.io" class="news-tile__body_title">
            SwapSpace integrates Xgram.io
          </h3>
          <span class="news-tile__body_info"> 20 Oct 2024 ◦ 2 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    ><a href="/news/swapspace-partners-with-dzap" class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/22ebab5d441ef933fb9488f4846e6116eb751e914b49cc2b41965fd990647506.png"
          alt="Seamless swaps: SwapSpace is now on DZap"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3 title="Seamless swaps: SwapSpace is now on DZap" class="news-tile__body_title">
            Seamless swaps: SwapSpace is now on DZap
          </h3>
          <span class="news-tile__body_info"> 07 Oct 2024 ◦ 3 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    ><a href="/news/swapspace-and-swappix-team-up" class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/56105c8c70b4ee986d6d3aa5f80143a805c0f307a49f63a3c5fb175c933246bc.png"
          alt="SwapSpace and Swappix team up"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3 title="SwapSpace and Swappix team up" class="news-tile__body_title">
            SwapSpace and Swappix team up
          </h3>
          <span class="news-tile__body_info"> 25 Sep 2024 ◦ 2 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    ><a
      href="/news/swapspace-expands-services-with-crypto-loans"
      class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/694cdbc0b3bf8cca3349e55ae1b01cde3de861bcb880fd135d522dcfc2fe8469.png"
          alt="SwapSpace expands services with Crypto Loans"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3 title="SwapSpace expands services with Crypto Loans" class="news-tile__body_title">
            SwapSpace expands services with Crypto Loans
          </h3>
          <span class="news-tile__body_info"> 16 Sep 2024 ◦ 3 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    ><a href="/news/swapngo-integrates-swapspace-widget" class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/7a500163127431ce45a89ddfcb7e41f88c78ad788e7391d19d38c4484e67ae8c.png"
          alt="SwapNgo integrates the SwapSpace widget"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3 title="SwapNgo integrates the SwapSpace widget" class="news-tile__body_title">
            SwapNgo integrates the SwapSpace widget
          </h3>
          <span class="news-tile__body_info"> 05 Sep 2024 ◦ 2 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    ><a
      href="/news/introducing-swapspace-huddle-new-web3-crypto-podcast"
      class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/34d9c58fe7d196052138b67c8cd8f84621b432165974f40a6e5c2986371e63f8.png"
          alt="SwapSpace Huddle podcast launches"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3 title="SwapSpace Huddle podcast launches" class="news-tile__body_title">
            SwapSpace Huddle podcast launches
          </h3>
          <span class="news-tile__body_info"> 30 Aug 2024 ◦ 3 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    ><a
      href="/news/anniversary-graphic-contest-win-with-your-creativity"
      class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/cb3be504e4de6eda34385e9672e16d1fbdced16b8d8ccdabff447447305e14f8.png"
          alt="Anniversary contest: win with your creativity"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3 title="Anniversary contest: win with your creativity" class="news-tile__body_title">
            Anniversary contest: win with your creativity
          </h3>
          <span class="news-tile__body_info"> 12 Aug 2024 ◦ 2 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    ><a href="/news/swapspace-celebrates-anniversary" class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/2fdf70e32be177d527b5911f4c3f6e8edb90c28c62b8e33aace1bf4e9b90a977.png"
          alt="SwapSpace celebrates 5th anniversary"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3 title="SwapSpace celebrates 5th anniversary" class="news-tile__body_title">
            SwapSpace celebrates 5th anniversary
          </h3>
          <span class="news-tile__body_info"> 05 Aug 2024 ◦ 3 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    ><a
      href="/news/swapspace-introduces-guardexio-as-its-new-partner"
      class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/cc2db87dcf3f7c87dd518e0270d42d00d89d3bd470279126fe3613aa235b8b28.jpg"
          alt="SwapSpace introduces Guardex.io as its new partner"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3
            title="SwapSpace introduces Guardex.io as its new partner"
            class="news-tile__body_title"
          >
            SwapSpace introduces Guardex.io as its new partner
          </h3>
          <span class="news-tile__body_info"> 27 Jul 2024 ◦ 3 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    ><a href="/news/bitcoinvn-partnership" class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/3e35aee95839f5b6093d9447b823ee80679b66fb7a053af61337f9051b3ff843.png"
          alt="New partnership: SwapSpace and BitcoinVN"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3 title="New partnership: SwapSpace and BitcoinVN" class="news-tile__body_title">
            New partnership: SwapSpace and BitcoinVN
          </h3>
          <span class="news-tile__body_info"> 17 Jul 2024 ◦ 3 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    ><a href="/news/shapebtc-partnership" class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/5a55127a44902f2f42f76c8ddfeee751cf29fd57cfa45c23a1b171221c09483c.png"
          alt="SwapSpace partners with ShapeBTC"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3 title="SwapSpace partners with ShapeBTC" class="news-tile__body_title">
            SwapSpace partners with ShapeBTC
          </h3>
          <span class="news-tile__body_info"> 24 Jun 2024 ◦ 3 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    ><a
      href="/news/swapspace-new-quest-on-taskon-is-live"
      class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/d139c24fcf32871b50094d6f174f5740915739da67a85e3d44853e1a0938d7d4.png"
          alt="SwapSpace new quest is ongoing"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3 title="SwapSpace new quest is ongoing" class="news-tile__body_title">
            SwapSpace new quest is ongoing
          </h3>
          <span class="news-tile__body_info"> 20 Jun 2024 ◦ 2 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    ><a href="/news/goexme-partnership" class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/c9fd7b4164f708b03ea8db303fc984eda1bf7f70f889933ee0d03f89997f5edf.png"
          alt="SwapSpace partners with GoExme"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3 title="SwapSpace partners with GoExme" class="news-tile__body_title">
            SwapSpace partners with GoExme
          </h3>
          <span class="news-tile__body_info"> 18 Jun 2024 ◦ 3 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    ><a href="/news/nanswap-partnership" class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/eb62dd51b44241086d49bdfaf940be7ce1055a67c61ef78ed675ccab72ffeb18.png"
          alt="SwapSpace &amp; Nanswap unite"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3 title="SwapSpace &amp; Nanswap unite" class="news-tile__body_title">
            SwapSpace &amp; Nanswap unite
          </h3>
          <span class="news-tile__body_info"> 14 Jun 2024 ◦ 3 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    ><a href="/news/integration-to-egswap" class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/d2489771886ad01f5cfbafe8d4beaa9077abbfbb9cbd0931d0d5ccef2c378fb7.png"
          alt="SwapSpace integrates to EGSwap"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3 title="SwapSpace integrates to EGSwap" class="news-tile__body_title">
            SwapSpace integrates to EGSwap
          </h3>
          <span class="news-tile__body_info"> 24 May 2024 ◦ 3 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    ><a href="/news/quickex-partnership" class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/207ad70cbc77ab0296001af19499cd2fa8f3e7b92311e3c96b2f90a0a8cc76d3.png"
          alt="SwapSpace and Quickex team up"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3 title="SwapSpace and Quickex team up" class="news-tile__body_title">
            SwapSpace and Quickex team up
          </h3>
          <span class="news-tile__body_info"> 02 May 2024 ◦ 3 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    ><a href="/news/swapspace-quantex-partnership" class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/fcbbca436c2047edd5b140830b137eed5787bd754ec332c82f967ad6a4891e78.png"
          alt="SwapSpace announces partnership with Quantex"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3 title="SwapSpace announces partnership with Quantex" class="news-tile__body_title">
            SwapSpace announces partnership with Quantex
          </h3>
          <span class="news-tile__body_info"> 15 Apr 2024 ◦ 1 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    ><a href="/news/coinsdo-partnership" class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/da1f9f67c3cc56090eb19cd4b7ca383cc527395d35d0cf8aeba5683b04d811a5.png"
          alt="SwapSpace’s widget integration to CoinsDo"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3 title="SwapSpace’s widget integration to CoinsDo" class="news-tile__body_title">
            SwapSpace’s widget integration to CoinsDo
          </h3>
          <span class="news-tile__body_info"> 09 Apr 2024 ◦ 2 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    ><a href="/news/product-launch-spend-crypto" class="news-tile news-list__container_tile"
      ><div class="news-tile__image_container">
        <img
          src="https://storage.swapspace.co/static/ff3542550081cae03c87457878d999dfaaa7d7a15f2fc31d5a66e04b45ad5a94.png"
          alt="Introducing our newest product – Spend Crypto"
          class="news-tile__image"
        />
      </div>
      <div class="news-tile__body">
        <div>
          <h3 title="Introducing our newest product – Spend Crypto" class="news-tile__body_title">
            Introducing our newest product – Spend Crypto
          </h3>
          <span class="news-tile__body_info"> 05 Apr 2024 ◦ 4 min read </span>
        </div>
        <div class="news-tile__body_link">Read more ❯</div>
      </div></a
    >
  </div>
  <!---->
  <!---->
</section>
