<h1 class="c-header">
    More than <br>
    a crypto exchange
</h1>

<p class="c-description">
    We pick the best — you make a choice
</p>

<div class="c-trust-pilot">
    TrustScore 4.6 on
    <div class="c-trust-pilot__images">
        <img src="assets/trust-pilot.svg" alt="Trust pilot log" class="c-trust-pilot__logo" />
        <img src="assets/trust-pilot-rating.svg" alt="Trust pilot rating" class="c-trust-pilot__rating">
    </div>
</div>

<div class="c-banner">
    <img src="assets/bd-2-banner-text.svg" alt="banner" class="c-banner__text-image">
</div>