<div class="academy-header">
  <h1 class="academy-header__title">
    Get to know the crypto world like a pro.<br />
    SwapSpace is here to help.
  </h1>
  <h3 class="academy-header__description">SwapSpace Academy covers every topic you'd need.</h3>
  <div class="academy-filters academy-header__filters">
    <div class="academy-filters__reset_container">
      <button class="academy-filters__reset">
        Reset filters
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          xmlns="http://www.w3.org/2000/svg"
          class="icon-rollback academy-filters__reset_icon"
        >
          <path
            d="M1.91234 11.615L2.67366 12.5122C3.36282 13.3243 4.22066 13.9765 5.18747 14.4234C6.15429 14.8703 7.20687 15.1012 8.27198 15.1C12.3216 15.1 15.6254 11.794 15.6224 7.74439C15.6195 3.68768 12.3297 0.400031 8.27242 0.400032C6.4608 0.397473 4.7123 1.06661 3.36567 2.27759L4.39306 3.30498C5.29047 2.52208 6.40397 2.02895 7.58723 1.89075C8.77867 1.75159 9.98423 1.9789 11.0432 2.54239C12.1022 3.10587 12.9642 3.97875 13.5144 5.04467C14.0646 6.11058 14.2769 7.31889 14.1228 8.5085C13.9688 9.69812 13.4558 10.8125 12.6523 11.7032C11.8487 12.5938 10.7928 13.2183 9.62527 13.4935C8.45771 13.7687 7.23401 13.6815 6.1173 13.2435C5.00058 12.8055 4.04391 12.0375 3.37481 11.0419L2.93071 10.3811L6.87242 10.5702V9.13941L0.662109 9.13941V15.35L2.09286 15.35L1.91234 11.615Z"
            fill="white"
          ></path>
        </svg>
      </button>
    </div>
    <div class="academy-filters__container">
      <div class="column academy-filters__col col-12 col-lg-5">
        <div class="array-select">
          <span class="array-select__label"> Choose tag(s) </span>
          <div class="array-select__container">
            <div class="array-select__element">
              <span class="array-select__element_label array-select__element_label-unselected">
                Basics
              </span>
              <div class="array-select__element_plus_wrapper">
                <div class="array-select__element_plus"></div>
              </div>
            </div>
            <div class="array-select__element">
              <span class="array-select__element_label array-select__element_label-unselected">
                Technology
              </span>
              <div class="array-select__element_plus_wrapper">
                <div class="array-select__element_plus"></div>
              </div>
            </div>
            <div class="array-select__element">
              <span class="array-select__element_label array-select__element_label-unselected">
                Glossary
              </span>
              <div class="array-select__element_plus_wrapper">
                <div class="array-select__element_plus"></div>
              </div>
            </div>
            <div class="array-select__element">
              <span class="array-select__element_label array-select__element_label-unselected">
                Wallets
              </span>
              <div class="array-select__element_plus_wrapper">
                <div class="array-select__element_plus"></div>
              </div>
            </div>
            <div class="array-select__element">
              <span class="array-select__element_label array-select__element_label-unselected">
                Guides
              </span>
              <div class="array-select__element_plus_wrapper">
                <div class="array-select__element_plus"></div>
              </div>
            </div>
            <div class="array-select__element">
              <span class="array-select__element_label array-select__element_label-unselected">
                DeFi
              </span>
              <div class="array-select__element_plus_wrapper">
                <div class="array-select__element_plus"></div>
              </div>
            </div>
            <div class="array-select__element">
              <span class="array-select__element_label array-select__element_label-unselected">
                Trading
              </span>
              <div class="array-select__element_plus_wrapper">
                <div class="array-select__element_plus"></div>
              </div>
            </div>
            <div class="array-select__element">
              <span class="array-select__element_label array-select__element_label-unselected">
                Strategies
              </span>
              <div class="array-select__element_plus_wrapper">
                <div class="array-select__element_plus"></div>
              </div>
            </div>
            <div class="array-select__element">
              <span class="array-select__element_label array-select__element_label-unselected">
                Security
              </span>
              <div class="array-select__element_plus_wrapper">
                <div class="array-select__element_plus"></div>
              </div>
            </div>
            <div class="array-select__element">
              <span class="array-select__element_label array-select__element_label-unselected">
                Regulations
              </span>
              <div class="array-select__element_plus_wrapper">
                <div class="array-select__element_plus"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column academy-filters__col col-12 col-lg-6">
        <div class="academy-level-select">
          <span class="academy-level-select__title"> Pick your level </span>
          <div class="academy-level-select__container">
            <div class="academy-level-select__level">
              <span class="academy-level-select__level_title"> beginner </span>
              <div class="academy-level-select__level_image_wrapper">
                <img
                  alt="beginner"
                  src="assets/img/beginner.a6c922b.svg"
                  width="95"
                  height="95"
                  class="academy-level-select__level_image"
                />
              </div>
            </div>
            <div class="academy-level-select__level">
              <span class="academy-level-select__level_title"> intermediate </span>
              <div class="academy-level-select__level_image_wrapper">
                <img
                  alt="intermediate"
                  src="assets/img/intermediate.f7cdc25.svg"
                  width="95"
                  height="95"
                  class="academy-level-select__level_image"
                />
              </div>
            </div>
            <div class="academy-level-select__level">
              <span class="academy-level-select__level_title"> advanced </span>
              <div class="academy-level-select__level_image_wrapper">
                <img
                  alt="advanced"
                  src="assets/img/advanced.9dd82ba.svg"
                  width="95"
                  height="95"
                  class="academy-level-select__level_image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="academy-filters__show_container">
      <div class="academy-filters__show">
        <p class="academy-filters__show_label">Show less</p>
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fa"
          data-icon="chevron-up"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="academy-filters__show_caret svg-inline--fa fa-chevron-up fa-w-16"
        >
          <path
            fill="currentColor"
            d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"
            class=""
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>
