<div class="index-pair-widget index__margin">
  <div class="index-pair-widget__title">Exchange your crypto now</div>
  <div class="index-rates__wrapper footer-swap-form">
    <app-swap-form></app-swap-form>
    <div class="index-rates__button-container">
      <button
        type="button"
        class="button index-rates__button index-rates__next button_m button_primary button_none button_"
        id="widget_upper"
        (click)="viewOffers()"
      >
        View offers
      </button>
    </div>
  </div>
</div>
