.index-how {
  &__container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  &__text-container {
    flex-basis: 50%;
  }

  &__title {
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 1rem;
  }

  &__text {
    color: #a0789c;
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 0;
    max-width: 445px;
  }

  &__image-container {
    align-items: flex-start;
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
  }

  @media screen and (min-width: 768px) {
    &__image-mobile {
      display: none;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__button {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2), 0 4px 50px rgba(227, 87, 96, 0.5),
      0 60px 150px rgba(227, 87, 96, 0.62);
    margin-top: 120px;
    max-width: 358px;
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .index__margin {
    margin-top: 80px;
  }

  .index-how__text {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .index-how__text {
    max-width: 377px;
  }

  .index-how__image {
    height: auto;
    width: 100%;
  }

  .index-how__button {
    margin-top: 80px;
  }
}

@media screen and (max-width: 991px) {
  .index__margin {
    margin-top: 69px;
  }

  .index-how__title {
    font-size: 2.5rem;
    font-size: 2rem;
    line-height: 3rem;
    line-height: 2.5rem;
  }

  .index-how__text {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .index-how__button {
    margin-top: 69px;
  }
}

@media screen and (max-width: 767px) {
  .index__margin {
    margin-top: 48px;
  }

  .index-how__container {
    flex-direction: column;
    gap: 40px;
  }

  .index-how__text-container {
    flex-basis: auto;
  }

  .index-how__text {
    max-width: none;
  }

  .index-how__image-container {
    justify-content: center;
  }

  .index-how__image {
    display: none;
  }

  .index-how__button {
    margin-top: 48px;
    max-width: none;
  }
}

@media screen and (max-width: 575px) {
  .index__margin {
    margin-top: 40px;
  }
  .index-how__button {
    margin-top: 40px;
  }
}
