<div class="index-how index__margin">
  <div class="index-how__container">
    <div class="index-how__text-container">
      <h3 class="index-how__title">How we work</h3>
      <p class="index-how__text">
        Swapspace aims to save your time and simplify the exchange process: we aggregate the swap
        offers from the most trustworthy crypto exchanges – you only need to pick the best option
        and our 24/7 support team will be here with you for any help.
      </p>
    </div>
    <div class="index-how__image-container">
      <img
        src="/assets/img/how-we-work.webp"
        alt="How we work"
        width="498"
        height="300"
        class="index-how__image"
      />
      <img
        src="/assets/img/how-we-work-mobile.webp"
        alt="How we work"
        width="332"
        height="690"
        class="index-how__image-mobile"
      />
    </div>
  </div>
  <a href="/exchange/step1" class="index-how__link">
    <button
      type="button"
      class="button index-how__button button_xl button_primary button_uppercase button_"
    >
      Try it yourself
    </button>
  </a>
</div>
