<div class="index-products index__margin">
  <div
    class="index-product index-product__break-point-1"
    #echangeImageContainer
    [ngStyle]="{
      '--progress': (scrollPostion$ | async) && calculateAnimationProgress(echangeImageContainer)
    }"
  >
    <div class="index-product__content">
      <h1 class="index-product__title">Exchange Crypto</h1>
      <p class="index-product__description">
        Choose among 600 000 crypto-to-crypto exchange pairs and easily track your limitless swaps
        flow on the exchange page.
      </p>
      <p class="index-product__description">
        Gain access to decentralized liquidity with our partners
      </p>
      <div class="index-product__image-partner-container">
        <div class="index-product__partner-image">
          <img src="assets/binance.svg" alt="Binance" />
        </div>
        <div class="index-product__partner-image">
          <img src="assets/linch.svg" alt="Linch" />
        </div>
        <div class="index-product__partner-image">
          <img src="assets/kuicoin.svg" alt="Kuicoin" />
        </div>
      </div>

      <a href="" class="index-product__link">
        More details
        <tui-svg src="tuiIconChevronRight"></tui-svg>
      </a>
    </div>
    <div class="index-product__image-container">
      <img
        src="assets/exchange-coin-arrow-bottom.svg"
        class="index-product__image exchange-coin-arrow-bottom"
        alt="Echange Coin 2"
      />
      <img
        src="assets/exchange-coin-2.svg"
        class="index-product__image exchange-coin-2"
        alt="Echange Coin 2"
      />
      <img
        src="assets/exchange-coin-arrow-top.svg"
        class="index-product__image exchange-coin-arrow-top"
        alt="Echange Coin 2"
      />
      <img
        src="assets/exchange-coin.svg"
        class="index-product__image exchange-coin"
        alt="Echange Coin"
      />
    </div>
  </div>

  <div
    class="index-product index-product__inverse"
    #buyCryptoContainer
    [ngStyle]="{
      '--progress': (scrollPostion$ | async) && calculateAnimationProgress(buyCryptoContainer)
    }"
  >
    <div class="index-product__content">
      <h1 class="index-product__title">Buy/Sell Crypto</h1>
      <p class="index-product__description">
        Fiat on/off ramp: buy or sell your crypto with more than 90 fiat currencies available using
        your Visa or MasterCard
      </p>

      <div class="index-product__image-partner-container">
        <div class="index-product__partner-image">
          <img src="assets/card-brands/visa.svg" alt="Binance" />
        </div>
        <div class="index-product__partner-image">
          <img src="assets/card-brands/master-card.svg" alt="Linch" />
        </div>
        <div class="index-product__partner-image">
          <img src="assets/card-brands/apple-pay.svg" alt="Kuicoin" />
        </div>
        <div class="index-product__partner-image">
          <img src="assets/card-brands/google-pay.svg" alt="Kuicoin" />
        </div>
      </div>

      <a href="" class="index-product__link">
        More details
        <tui-svg src="tuiIconChevronRight"></tui-svg>
      </a>
    </div>
    <div class="index-product__image-container">
      <img
        src="assets/credit-card.svg"
        class="index-product__image default index-product__default-animated-image"
        alt="Echange Coin 2"
      />
    </div>
  </div>

  <div
    class="index-product index-product__break-point-1"
    #crossChainCryptoContainer
    [ngStyle]="{
      '--progress':
        (scrollPostion$ | async) && calculateAnimationProgress(crossChainCryptoContainer)
    }"
  >
    <div class="index-product__content">
      <h1 class="index-product__title">Cross-Chain Crypto Swaps</h1>
      <p class="index-product__description">
        At SwapSpace, we offer bridging your tokens across popular networks — instantly and with no
        registration. Cross-chain swaps are easier than ever with our trusted crypto exchange
        partners.
      </p>

      <a href="" class="index-product__link">
        More details
        <tui-svg src="tuiIconChevronRight"></tui-svg>
      </a>
    </div>
    <div class="index-product__image-container">
      <img
        src="assets/cross-chain.svg"
        class="index-product__image default index-product__default-animated-image"
        alt="Echange Coin 2"
      />
    </div>
  </div>

  <div
    class="index-product index-product__inverse"
    #spendCrypto
    [ngStyle]="{
      '--progress': (scrollPostion$ | async) && calculateAnimationProgress(spendCrypto)
    }"
  >
    <div class="index-product__content">
      <h1 class="index-product__title">Spend Crypto</h1>
      <p class="index-product__description">
        Buy gift cards from popular retailers with your crypto: choose from thousands of available
        options for all your shopping needs. Convert your crypto into the real-world goods in a
        couple of clicks!
      </p>

      <a href="" class="index-product__link">
        Try now
        <tui-svg src="tuiIconChevronRight"></tui-svg>
      </a>
    </div>
    <div class="index-product__image-container">
      <img
        src="assets/spend-crypto-base.svg"
        class="index-product__image default index-product__default-animated-image"
        alt="Echange Coin 2"
      />
    </div>
  </div>
</div>
