:host {
  display: block;
}

.c-status__icon-image {
  font-size: 0.8rem;
}

.c-loading {
  animation: spin 1s linear infinite;
  color: #fbff2d;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.c-success {
  color: #fbff2d;
}
