<div class="c-hero c-break-point-1" #echangeImageContainer [ngStyle]="{
    '--progress': (scrollPostion$ | async) && calculateAnimationProgress(echangeImageContainer)
}">
    <div class="c-hero__content">
        <h1 class="c-hero__title">Exchange Crypto</h1>
        <p class="c-hero__description">
            Choose among 600 000 crypto-to-crypto exchange pairs and easily track your limitless swaps flow on the
            exchange
            page.

            Gain access to decentralized liquidity with our partners
        </p>

        <div class="c-hero__image-partner-container">
            <div class="c-hero__partner-image">
                <img src="assets/binance.svg" alt="Binance">
            </div>
            <div class="c-hero__partner-image">
                <img src="assets/linch.svg" alt="Linch">
            </div>
            <div class="c-hero__partner-image">
                <img src="assets/kuicoin.svg" alt="Kuicoin">
            </div>
        </div>

        <a href="">
            More details
            <tui-svg src="tuiIconChevronRight"></tui-svg>
        </a>
    </div>
    <div class="c-hero__image-container">
        <img src="assets/exchange-coin-arrow-bottom.svg" class="c-hero__image exchange-coin-arrow-bottom"
            alt="Echange Coin 2">
        <img src="assets/exchange-coin-2.svg" class="c-hero__image exchange-coin-2" alt="Echange Coin 2">
        <img src="assets/exchange-coin-arrow-top.svg" class="c-hero__image exchange-coin-arrow-top"
            alt="Echange Coin 2">
        <img src="assets/exchange-coin.svg" class="c-hero__image exchange-coin" alt="Echange Coin">

    </div>
</div>

<div class="c-hero c-inverse" #buyCryptoContainer [ngStyle]="{
    '--progress': (scrollPostion$ | async) && calculateAnimationProgress(buyCryptoContainer)
}">
    <div class="c-hero__content">
        <h1 class="c-hero__title">Buy/Sell Crypto</h1>
        <p class="c-hero__description">
            Fiat on/off ramp: buy or sell your crypto with more than 90 fiat currencies available using your Visa or
            MasterCard
        </p>

        <div class="c-hero__image-partner-container">
            <div class="c-hero__partner-image">
                <img src="assets/card-brands/visa.svg" alt="Binance">
            </div>
            <div class="c-hero__partner-image">
                <img src="assets/card-brands/master-card.svg" alt="Linch">
            </div>
            <div class="c-hero__partner-image">
                <img src="assets/card-brands/apple-pay.svg" alt="Kuicoin">
            </div>
            <div class="c-hero__partner-image">
                <img src="assets/card-brands/google-pay.svg" alt="Kuicoin">
            </div>
        </div>

        <a href="">
            More details
            <tui-svg src="tuiIconChevronRight"></tui-svg>
        </a>
    </div>
    <div class="c-hero__image-container">
        <img src="assets/credit-card.svg" class="c-hero__image default c-default-animated-image" alt="Echange Coin 2">
    </div>
</div>

<div class="c-hero c-break-point-1" #crossChainCryptoContainer [ngStyle]="{
    '--progress': (scrollPostion$ | async) && calculateAnimationProgress(crossChainCryptoContainer)
}">
    <div class="c-hero__content">
        <h1 class="c-hero__title">Cross-Chain Crypto Swaps</h1>
        <p class="c-hero__description">
            At SwapSpace, we offer bridging your tokens across popular networks — instantly and with no registration.
            Cross-chain swaps are easier than ever with our trusted crypto exchange partners.
        </p>

        <a href="">
            More details
            <tui-svg src="tuiIconChevronRight"></tui-svg>
        </a>
    </div>
    <div class="c-hero__image-container">
        <img src="assets/cross-chain.svg" class="c-hero__image default c-default-animated-image" alt="Echange Coin 2">
    </div>
</div>
<div class="c-hero c-inverse" #spendCrypto [ngStyle]="{
    '--progress': (scrollPostion$ | async) && calculateAnimationProgress(spendCrypto)
}">
    <div class="c-hero__content">
        <h1 class="c-hero__title">Spend cripto</h1>
        <p class="c-hero__description">
            Buy gift cards from popular retailers with your crypto: choose from thousands of available options for all
            your shopping needs. Convert your crypto into the real-world goods in a couple of clicks!
        </p>

        <a href="">
            More details
            <tui-svg src="tuiIconChevronRight"></tui-svg>
        </a>
    </div>
    <div class="c-hero__image-container">
        <img src="assets/spend-crypto-base.svg" class="c-hero__image default c-default-animated-image"
            alt="Echange Coin 2">
    </div>
</div>

<div class="c-statistics-container">
    <div class="c-statistics">
        <div class="c-statistics__item">
            <div class="c-statistics__item-value">
                3650+
            </div>
            <div class="c-statistics__item-name">
                Coins
            </div>
        </div>
        <div class="c-statistics__item">
            <div class="c-statistics__item-value">
                30
            </div>
            <div class="c-statistics__item-name">
                Partners
            </div>
        </div>
        <div class="c-statistics__item">
            <div class="c-statistics__item-value">
                120
            </div>
            <div class="c-statistics__item-name">
                Cross-Chain Bridges
            </div>
        </div>
        <div class="c-statistics__item">
            <div class="c-statistics__item-value">
                600 000
            </div>
            <div class="c-statistics__item-name">
                Exchange pairs
            </div>
        </div>
    </div>
</div>


<div class="c-hero c-break-point-1">
    <div class="c-hero__content">
        <h1 class="c-hero__title">How we work</h1>
        <p class="c-hero__description">
            Swapspace aims to save your time and simplify the exchange process: we aggregate the swap offers from the
            most trustworthy crypto exchanges – you only need to pick the best option and our 24/7 support team will be
            here with you for any help.
        </p>
    </div>
    <div class="c-hero__image-container">
        <img src="assets//how-we-work.webp" class="c-hero__image default how-we-work-image" alt="Echange Coin 2">
    </div>
</div>

<div class="c-cta__container">
    <button tuiButton type="button" class="c-cta__button app-glow-btn" type="submit">
        Try it yourself
    </button>
</div>