:host {
  display: block;
}

.c-hero {
  margin-top: 10rem;
  display: flex;
  padding-left: 4rem;

  &.c-break-point-1 {
    @media (max-width: 1100px) {
      flex-direction: column-reverse;
      padding-left: 0;
    }
  }

  &.c-inverse {
    flex-direction: row-reverse;
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    &.c-inverse {
      flex-direction: column-reverse;
    }

    padding-left: 0;
  }

  .c-hero__content {
    flex: 1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    opacity: var(--progress);
  }

  .c-hero__title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .c-hero__description {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: var(--tui-text-02);
  }

  .c-hero__image-partner-container {
    display: flex;

    align-items: center;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .c-hero__partner-image {
      padding-left: 1rem;
      padding-right: 1rem;
      border-width: 1px;

      border-right-color: var(--tui-text-02);
      &:not(:last-child) {
        border-right-style: solid;
        @media (max-width: 768px) {
          border-right-style: none;
        }
      }
    }
  }

  .c-hero__image-container {
    min-width: 270px;
    min-height: 270px;
    overflow: hidden;
    flex: 1;
    display: flex;
    @media (max-width: 400px) {
      display: none;
    }

    justify-content: center;
    img {
      position: absolute;
    }

    .c-hero__image {
      opacity: var(--progress);
      max-width: 100vw;

      &.exchange-coin-arrow-top {
        transform: translateX(calc(-300px + 150px * var(--progress)))
          translateY(calc(250px - 150px * var(--progress)));
      }

      &.exchange-coin-arrow-bottom {
        transform: translateX(calc(100px - 100px * var(--progress)));
      }

      &.exchange-coin {
        transform: translateX(calc(-100px * var(--progress)));
      }

      &.exchange-coin-2 {
        transform: translateX(calc(-100px * (1 - var(--progress))));
      }

      &.c-default-animated-image {
        transform: translateY(calc(200px * (1 - var(--progress))));
      }
    }
  }
}

.c-statistics-container {
  display: flex;
  justify-content: center;

  margin-top: 5rem;

  .c-statistics {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    gap: 2rem;

    color: var(--tui-link);
    width: 100%;
    background: var(--app-linear-gradient-bg);
    border-image-slice: 1;
    border-image-source: var(--app-linear-gradient);
    border-radius: 1.5rem;
    border-top: 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem 1rem;

    max-width: 1000px;

    .c-statistics__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      .c-statistics__item-value {
        font-weight: 700;
        font-size: 2.5rem;
      }

      .c-statistics__item-name {
        font-size: 1.5rem;
      }
    }
  }
}

.how-we-work-image {
  max-width: 500px !important;
  width: 100%;

  @media (max-width: 1100px) {
    max-width: 300px;
  }
}

.c-cta__container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  padding-bottom: 5rem;

  .c-cta__button {
    width: 100%;
    max-width: 360px;
  }
}
