<div class="how-it-works">
  <h1 class="mb-3">How it works</h1>
  <div class="toggle-tabs how-it-works__tabs">
    <div class="toggle-tabs__tab toggle-tabs__tab_active">Exchange crypto</div>
    <div class="toggle-tabs__tab">Buy crypto</div>
  </div>
  <div
    class="how-it-works-navi how-it-works__navi"
    image="how-it-works/navigation-exchange/step-1.svg,how-it-works/navigation-exchange/step-2.svg,how-it-works/navigation-exchange/step-3.svg,how-it-works/navigation-exchange/step-4.svg"
  >
    <!---->
    <nav class="how-it-works-navi__row">
      <div class="how-it-works-navi__step-wrapper">
        <a
          href="#step-1"
          class="how-it-works-navi__step-container how-it-works-navi__first-step how-it-works-navi__step-container_exchange-crypto-gradient-0"
          ><div class="how-it-works-navi__container">
            <div class="how-it-works-navi__step-text">STEP 1</div>
            <div class="how-it-works-navi__text">Choose a pair and select the best rate</div>
          </div></a
        >
      </div>
      <div class="how-it-works-navi__step-wrapper">
        <a
          href="#step-2"
          class="how-it-works-navi__step-container how-it-works-navi__step-container_exchange-crypto-gradient-1"
          ><div class="how-it-works-navi__container">
            <div class="how-it-works-navi__step-text">STEP 2</div>
            <div class="how-it-works-navi__text">Enter the recipient wallet address</div>
          </div></a
        >
      </div>
      <div class="how-it-works-navi__step-wrapper">
        <a
          href="#step-3"
          class="how-it-works-navi__step-container how-it-works-navi__step-container_exchange-crypto-gradient-2"
          ><div class="how-it-works-navi__container">
            <div class="how-it-works-navi__step-text">STEP 3</div>
            <div class="how-it-works-navi__text">Transfer funds</div>
          </div></a
        >
      </div>
      <div class="how-it-works-navi__step-wrapper">
        <a
          href="#step-4"
          class="how-it-works-navi__step-container how-it-works-navi__last-step how-it-works-navi__step-container_exchange-crypto-gradient-3"
          ><div class="how-it-works-navi__container">
            <div class="how-it-works-navi__step-text">STEP 4</div>
            <div class="how-it-works-navi__text">Receive your coins</div>
          </div></a
        >
      </div>
    </nav>
  </div>
  <div class="how-it-works-steps mb-5">
    <div class="hiw-step how-it-works-steps__step hiw-step__step-1-margin">
      <div id="step-1" class="hiw-step__text-container">
        <h3 class="hiw-step__text-container_title">
          1. Select the amount and the exchange service
        </h3>
        <p class="hiw-step__text-container_text">
          Here is the simple 4-step tutorial on how to exchange cryptocurrency on SwapSpace. Let’s
          say, you want to swap Ethereum for Bitcoin (in other words, buy some Bitcoin with your
          Ethereum). Choose ETH in the “You send” and BTC in the “You get” section and enter the
          amount of ETH you want to exchange. Next, press the ”View offers” button and select the
          exchange service you like the most.
        </p>
        <!---->
        <!---->
      </div>
      <!---->
      <img
        src="assets/img/step-1-1.8efaf92.svg"
        alt="1. Select the amount and the exchange service"
        width="452"
        height="290"
        class="hiw-step__image"
      />
    </div>
    <div class="hiw-step how-it-works-steps__step hiw-step__reversed">
      <div id="#" class="hiw-step__text-container-small">
        <h3 class="hiw-step__text-container_title"></h3>
        <p class="hiw-step__text-container_text">
          SwapSpace offers both fixed and floating exchange flows – use the sorting feature or icons
          next to the rates to choose what suits you best and click on the “Exchange” button.
        </p>
        <!---->
        <!---->
      </div>
      <!---->
      <img
        src="assets/img/step-1-2.e79ce9d.svg"
        alt=""
        width="548"
        height="320"
        class="hiw-step__image"
      />
    </div>
    <div class="hiw-step how-it-works-steps__step">
      <div id="step-2" class="hiw-step__text-container">
        <h3 class="hiw-step__text-container_title">2. Enter the recipient wallet address</h3>
        <p class="hiw-step__text-container_text">
          Fill in the “Provide the recipient address” field with the destination Bitcoin address and
          provide the refund address for your ETH if you want. If your preferred wallet is Trezor,
          you can press the button to connect a wallet and simplify the exchange process (more on
          that — in our <a href="/faq" style="color: #e35760">FAQ</a>). Check the information
          carefully and click the “Next” button.
        </p>
        <div class="hiw-step__text-container-radial-gradient"></div>
        <!---->
      </div>
      <!---->
      <img
        src="assets/img/step-2.734252d.svg"
        alt="2. Enter the recipient wallet address"
        width="481"
        height="290"
        class="hiw-step__image"
      />
    </div>
    <div class="hiw-step how-it-works-steps__step hiw-step__reversed">
      <div id="step-3" class="hiw-step__text-container-middle">
        <h3 class="hiw-step__text-container_title">3. Transfer your funds</h3>
        <p class="hiw-step__text-container_text">
          Using the wallet of your choice, send your Ethereum to the address you see on the screen.
          You can use the QR-code to speed up the process. You can also press the “Connect Wallet”
          button if you’re using MetaMask, Trezor, or one of the wallets supported by WalletConnect.
          As soon as our partner gets your ETH, the exchange will continue.
        </p>
        <!---->
        <!---->
      </div>
      <!---->
      <img
        src="assets/img/step-3.5a50729.svg"
        alt="3. Transfer your funds"
        width="452"
        height="267"
        class="hiw-step__image"
      />
    </div>
    <div class="hiw-step how-it-works-steps__step">
      <div id="step-4" class="hiw-step__text-container">
        <h3 class="hiw-step__text-container_title">4. Wait until the exchange will be processed</h3>
        <p class="hiw-step__text-container_text">
          At this stage, you just need to wait until you get your BTC in the wallet. Check the Swap
          Tracker if you want to know the exchange status, and feel free to contact the support if
          it seems like something is going wrong. That’s it!
        </p>
        <!---->
        <!---->
      </div>
      <!---->
      <img
        src="assets/img/step-4.977412b.svg"
        alt="4. Wait until the exchange will be processed"
        width="452"
        height="240"
        class="hiw-step__image"
      />
    </div>
  </div>
  <a
    href="/exchange/step1?from=btc&amp;fromNetwork=btc&amp;to=eth&amp;toNetwork=eth&amp;amount=0.1&amp;direction=direct"
    class="p-r"
    ><button
      type="button"
      class="button how-it-works__button button_lg button_primary button_uppercase button_"
    >
      TRY IT YOURSELF
    </button></a
  >
  <div class="how-it-works-tutorial mb-5">
    <div class="row how-it-works-tutorial__row">
      <div class="column how-it-works-tutorial__video col-12 col-lg-8">
        <ngx-lite-youtube videoId="d2bjzTUsyk0"></ngx-lite-youtube>
      </div>
      <div class="column col-12 col-lg-4">
        <h2 class="how-it-works-tutorial__title">Video tutorial</h2>
        <p class="how-it-works-tutorial__content">
          In this video we will show you how easy and fast the exchanges on SwapSpace are. No need
          to register or complete the pre-KYC – just select the coins, choose the exchange you want
          to use, and we will process the exchange. Enjoy the instant best-rate exchanges without
          limits!
        </p>
      </div>
    </div>
  </div>
  <div class="how-it-works-questions">
    <h2 class="how-it-works-questions__title">Related questions</h2>
    <div class="row how-it-works-questions__row">
      <div class="column how-it-works-questions__column col-12 col-md-6">
        <a
          href="/faq#why-should-i-trust-swapspace"
          class="how-it-works-questions__container"
          target="_blank"
          ><div class="how-it-works-questions__text">
            <span> Why should I trust SwapSpace? </span>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="arrow-common arrow-common_md"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.8552 6.23864L19.7296 11.4239C20.0901 11.7421 20.0901 12.2579 19.7296 12.5761L13.8552 17.7614C13.4947 18.0795 12.9103 18.0795 12.5498 17.7614C12.1893 17.4432 12.1893 16.9273 12.5498 16.6091L16.8484 12.8148L4.81478 12.8148C4.36479 12.8148 4 12.45 4 12C4 11.55 4.36479 11.1852 4.81478 11.1852L16.8484 11.1852L12.5498 7.39092C12.1893 7.07272 12.1893 6.55684 12.5498 6.23864C12.9103 5.92045 13.4947 5.92045 13.8552 6.23864Z"
            ></path>
          </svg>
        </a>
      </div>
      <div class="column how-it-works-questions__column col-12 col-md-6">
        <a
          href="/faq#how-does-swapspace-work"
          class="how-it-works-questions__container"
          target="_blank"
          ><div class="how-it-works-questions__text"><span> How does SwapSpace work? </span></div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="arrow-common arrow-common_md"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.8552 6.23864L19.7296 11.4239C20.0901 11.7421 20.0901 12.2579 19.7296 12.5761L13.8552 17.7614C13.4947 18.0795 12.9103 18.0795 12.5498 17.7614C12.1893 17.4432 12.1893 16.9273 12.5498 16.6091L16.8484 12.8148L4.81478 12.8148C4.36479 12.8148 4 12.45 4 12C4 11.55 4.36479 11.1852 4.81478 11.1852L16.8484 11.1852L12.5498 7.39092C12.1893 7.07272 12.1893 6.55684 12.5498 6.23864C12.9103 5.92045 13.4947 5.92045 13.8552 6.23864Z"
            ></path>
          </svg>
        </a>
      </div>
      <div class="column how-it-works-questions__column col-12 col-md-6">
        <a
          href="/faq#what-is-the-difference-between-fixed-and-floating-exchange-rates"
          class="how-it-works-questions__container"
          target="_blank"
          ><div class="how-it-works-questions__text">
            <span> What is the difference between fixed and floating exchange rates? </span>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="arrow-common arrow-common_md"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.8552 6.23864L19.7296 11.4239C20.0901 11.7421 20.0901 12.2579 19.7296 12.5761L13.8552 17.7614C13.4947 18.0795 12.9103 18.0795 12.5498 17.7614C12.1893 17.4432 12.1893 16.9273 12.5498 16.6091L16.8484 12.8148L4.81478 12.8148C4.36479 12.8148 4 12.45 4 12C4 11.55 4.36479 11.1852 4.81478 11.1852L16.8484 11.1852L12.5498 7.39092C12.1893 7.07272 12.1893 6.55684 12.5498 6.23864C12.9103 5.92045 13.4947 5.92045 13.8552 6.23864Z"
            ></path>
          </svg>
        </a>
      </div>
      <div class="column how-it-works-questions__column col-12 col-md-6">
        <a
          href="/faq#what-is-a-wallet-address"
          class="how-it-works-questions__container"
          target="_blank"
          ><div class="how-it-works-questions__text"><span> What is a wallet address? </span></div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="arrow-common arrow-common_md"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.8552 6.23864L19.7296 11.4239C20.0901 11.7421 20.0901 12.2579 19.7296 12.5761L13.8552 17.7614C13.4947 18.0795 12.9103 18.0795 12.5498 17.7614C12.1893 17.4432 12.1893 16.9273 12.5498 16.6091L16.8484 12.8148L4.81478 12.8148C4.36479 12.8148 4 12.45 4 12C4 11.55 4.36479 11.1852 4.81478 11.1852L16.8484 11.1852L12.5498 7.39092C12.1893 7.07272 12.1893 6.55684 12.5498 6.23864C12.9103 5.92045 13.4947 5.92045 13.8552 6.23864Z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
