<div class="index-advantages">
    <div class="index-advantages__container">
        <div class="index-advantages__number">3300+</div>
        <span class="index-advantages__title"> Coins </span>
    </div>
    <div class="index-advantages__container">
        <div class="index-advantages__number">28</div>
        <span class="index-advantages__title"> Partners </span>
    </div>
    <div class="index-advantages__container">
        <div class="index-advantages__number">105</div>
        <span class="index-advantages__title"> Cross-Chain Bridges </span>
    </div>
    <div class="index-advantages__container">
        <div class="index-advantages__number">600 000</div>
        <span class="index-advantages__title"> Exchange pairs </span>
    </div>
</div>
