:host {
  display: block;
}

.c-echange-selector {
  padding: 2rem;
}

.c-exchange-rate {
  margin-top: 1rem;
  font-size: 0.8rem;
  display: flex;
  gap: 0.6rem;
  .c-exchange-rate__label {
    color: var(--tui-text-02);
  }
}

.c-address-card {
  margin-top: 1rem;
  padding: 2rem;
}
.c-confirmation-card {
  margin-top: 1rem;
  padding: 2rem;
  font-size: 0.8rem;
}

.c-btn {
  width: 100%;
}

.c-terms-of-use {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
