<div class="academy">
  <div class="academy__header">
    <nav class="breadcrumbs academy__breadcrumbs" id="academy-breadcrumbs">
      <div class="breadcrumbs__no-link breadcrumbs__arrow">SwapSpace academy</div>
      <span><span class="breadcrumbs__text"> All articles </span></span>
    </nav>
    <div class="search-input academy__header_search" dark="">
      <label
        for="-HXoia"
        class="form-input form-input_light form-input_rounded form-input_md search-input__input_md search-input__input_light"
        ><span class="form-input__label"
          ><!---->
          <!----></span
        >
        <span class="form-input__wrapper"
          ><input
            id="-HXoia"
            spellcheck="false"
            max="Infinity"
            min="-Infinity"
            maxlength="Infinity"
            placeholder="Search"
            step="any"
            trim="true"
            type="text"
            autocomplete="off"
            lang="en"
            inputmode="text"
            class="form-input__input form-input__input_rounded"
          />
          <!---->
          <!----></span
        ></label
      >
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="magnifying-glass"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        class="fa-search svg-inline--fa fa-magnifying-glass fa-w-16 search-input__icon-with-dropdown"
      >
        <path
          fill="currentColor"
          d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
          class=""
        ></path>
      </svg>
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="xmark"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 384 512"
        class="fa-close svg-inline--fa fa-xmark fa-w-12 search-input__icon-with-dropdown"
        style="display: none"
      >
        <path
          fill="currentColor"
          d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
          class=""
        ></path>
      </svg>
    </div>
  </div>
  <!---->
  <div class="row academy-articles">
    <div class="column mb-4 col-12 col-md-6 col-lg-4">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <img
          src="https://storage.swapspace.co/static/how-does-blockchain-work.png"
          alt="How Does the Blockchain Work?"
          width="348"
          height="160"
          loading="lazy"
          class="content-widget__image"
        />
        <div class="content-widget__body">
          <h3 title="How Does the Blockchain Work?" class="content-widget__title">
            How Does the Blockchain Work?
          </h3>
          <small class="academy-articles__small"> 19 Jan 2024 ◦ 5 min read </small>
          <div class="content-widget__text mb-i">
            In the last couple of years, it's hard to avoid the term “blockchain”. If 10 years ago
            only tech-savvies cared to know what it is, now the term spread all over the place, but
            still, most of us have only a vague idea about the technology. Let’s discover what a
            blockchain is and how it works.
          </div>
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <img
          src="https://storage.swapspace.co/static/2mOh2Kbl6IoYtn1dEd1H9VF3R.png"
          alt="Types of Blockchain"
          width="348"
          height="160"
          loading="lazy"
          class="content-widget__image"
        />
        <div class="content-widget__body">
          <h3 title="Types of Blockchain" class="content-widget__title">Types of Blockchain</h3>
          <small class="academy-articles__small"> 17 Nov 2023 ◦ 7 min read </small>
          <div class="content-widget__text mb-i">
            There are two blockchain classification versions: Canadian and British. Each
            classification assumes three types of blockchains. In this article, we will explore all
            of them.
          </div>
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <img
          src="https://storage.swapspace.co/static/ZA9H2cl3-ZnGRqfjt4VOLRuZ8.png"
          alt="Dollar Cost Averaging (DCA) –&nbsp;Crypto Investing Strategies"
          width="348"
          height="160"
          loading="lazy"
          class="content-widget__image"
        />
        <div class="content-widget__body">
          <h3
            title="Dollar Cost Averaging (DCA) –&nbsp;Crypto Investing Strategies"
            class="content-widget__title"
          >
            Dollar Cost Averaging (DCA) –&nbsp;Crypto Investing Strategies
          </h3>
          <small class="academy-articles__small"> 15 Nov 2023 ◦ 3 min read </small>
          <div class="content-widget__text mb-i">
            The dollar-cost averaging (DCA) method is an investment approach that aims to reduce the
            impact of price changes when purchasing assets.
          </div>
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <img
          src="https://storage.swapspace.co/static/UevgRR7saqI7DdjneoLi-vz-s.png"
          alt="Consensus Algorithms in the Blockchain"
          width="348"
          height="160"
          loading="lazy"
          class="content-widget__image"
        />
        <div class="content-widget__body">
          <h3 title="Consensus Algorithms in the Blockchain" class="content-widget__title">
            Consensus Algorithms in the Blockchain
          </h3>
          <small class="academy-articles__small"> 12 Dec 2023 ◦ 9 min read </small>
          <div class="content-widget__text mb-i">
            In this article, we will focus on popular blockchain algorithms to find out their
            functions and factors affecting performance and security.
          </div>
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <img
          src="https://storage.swapspace.co/static/eW8Px6Mt4a8lY1WcT8M0vVIXh.png"
          alt="The Blockchain Trilemma"
          width="348"
          height="160"
          loading="lazy"
          class="content-widget__image"
        />
        <div class="content-widget__body">
          <h3 title="The Blockchain Trilemma" class="content-widget__title">
            The Blockchain Trilemma
          </h3>
          <small class="academy-articles__small"> 24 Nov 2023 ◦ 6 min read </small>
          <div class="content-widget__text mb-i">
            The blockchain trilemma, also known as the scalability trilemma, formulates the primary
            challenge of scaling distributed systems. The issue lies in the fact that the three key
            properties of blockchain (decentralization, security, and productivity) cannot be
            guaranteed to work simultaneously.
          </div>
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <img
          src="https://storage.swapspace.co/static/HZlU4sgjNWKvz7-LPcImMb6bk.png"
          alt="How to Diversify Your Crypto Portfolio and Limit Risk"
          width="348"
          height="160"
          loading="lazy"
          class="content-widget__image"
        />
        <div class="content-widget__body">
          <h3
            title="How to Diversify Your Crypto Portfolio and Limit Risk"
            class="content-widget__title"
          >
            How to Diversify Your Crypto Portfolio and Limit Risk
          </h3>
          <small class="academy-articles__small"> 15 Nov 2023 ◦ 8 min read </small>
          <div class="content-widget__text mb-i">
            Diversification helps to reduce losses when some prices fall and benefit from different
            instruments. We discuss seven strategies to balance the risk in your crypto portfolio.
          </div>
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
  </div>
  <div class="academy-exchange">
    <h2 class="academy-exchange__title">Ready for more?</h2>
    <p class="academy-exchange__description">
      Think you’ve learned enough? Time to put your knowledge into practice!
    </p>
    <div class="pair-widget academy-exchange__exchange">
      <div class="pair-widget__input d-fc">
        <div class="pair pair-widget__pair">
          <div class="pair-input pair-input_dark pair__input" id="6SMaL5">
            <label
              for="Wg1aPz"
              class="form-input pair-input__input form-input_max-width form-input_dark form-input_rounded form-input_rounded-left form-input_lg"
              ><span class="form-input__label"
                ><span class="form-input__label_text"> You send </span>
                <!----></span
              >
              <span class="form-input__wrapper"
                ><input
                  id="Wg1aPz"
                  spellcheck="false"
                  max="Infinity"
                  min="0"
                  maxlength="Infinity"
                  placeholder=""
                  step="any"
                  trim="true"
                  type="text"
                  autocomplete="off"
                  lang="en"
                  inputmode="decimal"
                  class="form-input__input form-input__input_rounded form-input__input_rounded-left form-input__input_transparent-border"
                />
                <!---->
                <!----></span
              ></label
            >
            <div
              class="spinner pair-input__spinner"
              style="--border: 3px solid #e35760; --width: 24px; --height: 24px; display: none"
            ></div>
            <div class="pair-search pair-input__search">
              <button
                type="button"
                class="pair-search__button-dark pair-search__button-no-bottom-round pair-search__button-rounded-right"
              >
                <div
                  class="coin-icon coin-icon__sm coin-icon__bg_ pair-search__button-dark-icon icon"
                >
                  <img
                    loading="lazy"
                    src="https://storage.swapspace.co/static/font/src/btc.svg"
                    alt="btc-icon"
                    class="coin-icon__image coin-icon__white"
                  />
                </div>
                <!---->
                <span class="pair-search__button-dark-label d-f-c"
                  ><span> btc </span>
                  <span class="pair-search__button-dark-label-network" style="display: none">
                    btc
                  </span></span
                >
                <div
                  class="spinner pair-search__spinner"
                  style="--border: 3px solid #e35760; --width: 24px; --height: 24px; display: none"
                ></div>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fa"
                  data-icon="caret-down"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 320 512"
                  class="svg-inline--fa fa-caret-down fa-w-10 pair-search__button-dark-caret"
                >
                  <path
                    fill="currentColor"
                    d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"
                    class=""
                  ></path>
                </svg>
              </button>
              <div class="search-input pair-search__search" style="display: none">
                <label
                  for="6C1DyC"
                  class="form-input form-input_dark form-input_rounded form-input_lg search-input__input_lg search-input__input_dark"
                  ><span class="form-input__label"
                    ><!---->
                    <!----></span
                  >
                  <span class="form-input__wrapper"
                    ><input
                      id="6C1DyC"
                      spellcheck="false"
                      max="Infinity"
                      min="-Infinity"
                      maxlength="Infinity"
                      placeholder="Search"
                      step="any"
                      trim="true"
                      type="text"
                      autocomplete="off"
                      lang="en"
                      inputmode="text"
                      class="form-input__input form-input__input_rounded form-input__input_no-bottom-border"
                    />
                    <!---->
                    <!----></span
                  ></label
                >
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="magnifying-glass"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class="fa-search svg-inline--fa fa-magnifying-glass fa-w-16 fa-search_dark search-input__icon-with-dropdown"
                >
                  <path
                    fill="currentColor"
                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                    class=""
                  ></path>
                </svg>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="xmark"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                  class="fa-close svg-inline--fa fa-xmark fa-w-12 search-input__icon-with-dropdown"
                  style="display: none"
                >
                  <path
                    fill="currentColor"
                    d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                    class=""
                  ></path>
                </svg>
              </div>
            </div>
          </div>
          <!---->
          <!---->
          <div class="pair__swap_wrapper d-fcc">
            <button type="button" class="pair-swap d-fcc pair-swap_sm">
              <svg
                width="15"
                height="16"
                viewBox="0 0 15 16"
                xmlns="http://www.w3.org/2000/svg"
                class="pair-swap__icon pair-swap__icon_sm pair-swap__icon_dark"
              >
                <path
                  d="M14.6103 2.49135L11.0311 0.13644C10.7708 -0.0305747 10.4292 -0.0472762 10.1526 0.103037C9.87603 0.253351 9.71334 0.553978 9.71334 0.871307V2.25753H4.89773C2.3435 2.25753 0.277344 4.39533 0.277344 7.00076V8.10306C0.277344 8.63751 0.700337 9.07175 1.22094 9.07175C1.74155 9.07175 2.16454 8.63751 2.16454 8.10306V7.00076C2.16454 5.44752 3.40098 4.17821 4.914 4.17821H9.72961V5.59784C9.72961 5.91516 9.8923 6.21579 10.1689 6.3661C10.299 6.43291 10.4454 6.46631 10.5756 6.46631C10.7383 6.46631 10.901 6.41621 11.0311 6.3327L14.6103 3.97779C14.8543 3.81077 15.0007 3.54355 15.0007 3.24292C15.0007 2.94229 14.8543 2.65837 14.6103 2.49135Z"
                ></path>
                <path
                  d="M13.7961 6.78369C13.2755 6.78369 12.8525 7.21793 12.8525 7.75238V8.85468C12.8525 10.4079 11.616 11.6772 10.103 11.6772H5.28741V10.2743C5.28741 9.95698 5.12472 9.65635 4.84815 9.50604C4.57158 9.35573 4.2462 9.35572 3.96963 9.53944L0.390455 11.8944C0.146421 12.0614 0 12.3286 0 12.6292C0 12.9298 0.146421 13.2138 0.390455 13.3641L3.96963 15.719C4.11605 15.8192 4.26247 15.8526 4.42516 15.8526C4.57158 15.8526 4.70173 15.8192 4.83188 15.7524C5.10845 15.6021 5.27114 15.3015 5.27114 14.9841V13.5979H10.103C12.6572 13.5979 14.7234 11.4601 14.7234 8.85468V7.75238C14.7234 7.21793 14.3004 6.78369 13.7961 6.78369Z"
                ></path>
              </svg>
            </button>
          </div>
          <div class="pair-input pair-input_dark pair__input" id="RQSa46">
            <label
              for="G0lIPb"
              class="form-input pair-input__input form-input_max-width form-input_dark form-input_rounded form-input_rounded-left form-input_lg"
              ><span class="form-input__label"
                ><span class="form-input__label_text"> You get </span>
                <!----></span
              >
              <span class="form-input__wrapper"
                ><input
                  id="G0lIPb"
                  spellcheck="false"
                  max="Infinity"
                  min="0"
                  maxlength="Infinity"
                  placeholder=""
                  step="any"
                  trim="true"
                  type="text"
                  autocomplete="off"
                  lang="en"
                  inputmode="decimal"
                  class="form-input__input form-input__input_rounded form-input__input_rounded-left form-input__input_transparent-border"
                />
                <!---->
                <!----></span
              ></label
            >
            <div
              class="spinner pair-input__spinner"
              style="--border: 3px solid #e35760; --width: 24px; --height: 24px; display: none"
            ></div>
            <div class="pair-search pair-input__search">
              <button
                type="button"
                class="pair-search__button-dark pair-search__button-no-bottom-round pair-search__button-rounded-right"
              >
                <div
                  class="coin-icon coin-icon__sm coin-icon__bg_ pair-search__button-dark-icon icon"
                >
                  <img
                    loading="lazy"
                    src="https://storage.swapspace.co/static/font/src/usdt.svg"
                    alt="usdt-icon"
                    class="coin-icon__image coin-icon__white"
                  />
                </div>
                <!---->
                <span class="pair-search__button-dark-label d-f-c"
                  ><span> usdt </span>
                  <span class="pair-search__button-dark-label-network"> erc20 </span></span
                >
                <div
                  class="spinner pair-search__spinner"
                  style="--border: 3px solid #e35760; --width: 24px; --height: 24px; display: none"
                ></div>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fa"
                  data-icon="caret-down"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 320 512"
                  class="svg-inline--fa fa-caret-down fa-w-10 pair-search__button-dark-caret"
                >
                  <path
                    fill="currentColor"
                    d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"
                    class=""
                  ></path>
                </svg>
              </button>
              <div class="search-input pair-search__search" style="display: none">
                <label
                  for="8qQMuE"
                  class="form-input form-input_dark form-input_rounded form-input_lg search-input__input_lg search-input__input_dark"
                  ><span class="form-input__label"
                    ><!---->
                    <!----></span
                  >
                  <span class="form-input__wrapper"
                    ><input
                      id="8qQMuE"
                      spellcheck="false"
                      max="Infinity"
                      min="-Infinity"
                      maxlength="Infinity"
                      placeholder="Search"
                      step="any"
                      trim="true"
                      type="text"
                      autocomplete="off"
                      lang="en"
                      inputmode="text"
                      class="form-input__input form-input__input_rounded form-input__input_no-bottom-border"
                    />
                    <!---->
                    <!----></span
                  ></label
                >
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="magnifying-glass"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class="fa-search svg-inline--fa fa-magnifying-glass fa-w-16 fa-search_dark search-input__icon-with-dropdown"
                >
                  <path
                    fill="currentColor"
                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                    class=""
                  ></path>
                </svg>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="xmark"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                  class="fa-close svg-inline--fa fa-xmark fa-w-12 search-input__icon-with-dropdown"
                  style="display: none"
                >
                  <path
                    fill="currentColor"
                    d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                    class=""
                  ></path>
                </svg>
              </div>
            </div>
          </div>
          <!---->
        </div>
        <button
          type="button"
          class="button pair-widget__button-partner ml-i button_lg button_primary button_uppercase button_"
          id="widget_lower"
        >
          VIEW EXCHANGE OFFERS
        </button>
      </div>
    </div>
  </div>
  <div class="row academy-articles">
    <div class="column mb-4 col-12 col-md-6 col-lg-4">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <img
          src="https://storage.swapspace.co/static/what-is-a-token.png"
          alt="What Is a Token?"
          width="348"
          height="160"
          loading="lazy"
          class="content-widget__image"
        />
        <div class="content-widget__body">
          <h3 title="What Is a Token?" class="content-widget__title">What Is a Token?</h3>
          <small class="academy-articles__small"> 22 Nov 2023 ◦ 11 min read </small>
          <div class="content-widget__text mb-i">
            A token is a type of cryptocurrency that is an asset or specific use and is located in a
            blockchain. You can use tokens for investment purposes, to preserve value, or to make
            purchases. Cryptographic tokens are a set of rules encoded in a smart contract.
          </div>
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <img
          src="https://storage.swapspace.co/static/can62JUXm1jJLbtqTbmF3dj8d.png"
          alt="CEX vs DEX: Choosing Wisely"
          width="348"
          height="160"
          loading="lazy"
          class="content-widget__image"
        />
        <div class="content-widget__body">
          <h3 title="CEX vs DEX: Choosing Wisely" class="content-widget__title">
            CEX vs DEX: Choosing Wisely
          </h3>
          <small class="academy-articles__small"> 22 Nov 2023 ◦ 7 min read </small>
          <div class="content-widget__text mb-i">
            When you are looking for a suitable crypto exchange for daily trading, you need to take
            into account many factors. The first thing you need to know is that there are two main
            types of trading platforms - centralized exchange (CEX) and decentralized exchange
            (DEX).
          </div>
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <img
          src="https://storage.swapspace.co/static/331372aade027eedede8a9643465ba21e0f727eb703e80f83c6e89d12f7f0877.png"
          alt="What Is Decentralized Finance (DeFi) and How Does It Work?"
          width="348"
          height="160"
          loading="lazy"
          class="content-widget__image"
        />
        <div class="content-widget__body">
          <h3
            title="What Is Decentralized Finance (DeFi) and How Does It Work?"
            class="content-widget__title"
          >
            What Is Decentralized Finance (DeFi) and How Does It Work?
          </h3>
          <small class="academy-articles__small"> 19 Jan 2024 ◦ 10 min read </small>
          <div class="content-widget__text mb-i">
            Decentralized finance is a collection of financial apps and services built on a
            blockchain, usually on the Ethereum platform. The aim is to transform the traditional
            finance sector, making it simpler, more accessible, and more efficient. Let's delve into
            the use of DeFi and its potential.
          </div>
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <img
          src="https://storage.swapspace.co/static/VjDLooEt1NX2xaTUTTk-OTr1G.png"
          alt="Unraveling the World of Crypto Token Standards: A Comprehensive Guide"
          width="348"
          height="160"
          loading="lazy"
          class="content-widget__image"
        />
        <div class="content-widget__body">
          <h3
            title="Unraveling the World of Crypto Token Standards: A Comprehensive Guide"
            class="content-widget__title"
          >
            Unraveling the World of Crypto Token Standards: A Comprehensive Guide
          </h3>
          <small class="academy-articles__small"> 11 Jan 2024 ◦ 10 min read </small>
          <div class="content-widget__text mb-i">
            Crypto token standards are sets of basic rules that a token must comply with to be able
            to function on the network. An understanding of the main principles of these standards
            may be extremely helpful to recognize how tokens function.
          </div>
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <img
          src="https://storage.swapspace.co/static/uEzwejaJoJemyP5-ZYXQEWoT_.png"
          alt="A Guide to Different Types of Cryptocurrencies"
          width="348"
          height="160"
          loading="lazy"
          class="content-widget__image"
        />
        <div class="content-widget__body">
          <h3 title="A Guide to Different Types of Cryptocurrencies" class="content-widget__title">
            A Guide to Different Types of Cryptocurrencies
          </h3>
          <small class="academy-articles__small"> 15 Dec 2023 ◦ 8 min read </small>
          <div class="content-widget__text mb-i">
            Cryptocurrencies can be categorized into three main types: Bitcoin, altcoins (which
            include stablecoins), and tokens, which in turn include DeFi tokens. Each of these
            groups has its own characteristics. Let's explore all of them.
          </div>
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <img
          src="https://storage.swapspace.co/static/P8Wud1AIHtiI2B5HgIxYmZsIG.png"
          alt="Token vs Coin: What's the Difference"
          width="348"
          height="160"
          loading="lazy"
          class="content-widget__image"
        />
        <div class="content-widget__body">
          <h3 title="Token vs Coin: What's the Difference" class="content-widget__title">
            Token vs Coin: What's the Difference
          </h3>
          <small class="academy-articles__small"> 08 Dec 2023 ◦ 5 min read </small>
          <div class="content-widget__text mb-i">
            Many individuals struggle to differentiate between the terms "tokens" and "coins,"
            however, it is important to clarify that these terms hold distinct meanings. In this
            article, we will elucidate the differences between tokens and coins.
          </div>
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="Crypto Mining Explained" class="content-widget__title">
            Crypto Mining Explained
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="Crypto Regulations: What is KYC in Crypto?  " class="content-widget__title">
            Crypto Regulations: What is KYC in Crypto?
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="Trader Dictionary For Beginners: Main Concepts" class="content-widget__title">
            Trader Dictionary For Beginners: Main Concepts
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="What is Yield Farming?" class="content-widget__title">
            What is Yield Farming?
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3
            title="Navigating the World of NFTs: A Deep Dive into Their History, Functionality, and Diverse Applications"
            class="content-widget__title"
          >
            Navigating the World of NFTs: A Deep Dive into Their History, Functionality, and Diverse
            Applications
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="Biggest Names in Crypto: A Glossary" class="content-widget__title">
            Biggest Names in Crypto: A Glossary
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="Cryptocurrency Wallet Types: Pros And Cons" class="content-widget__title">
            Cryptocurrency Wallet Types: Pros And Cons
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3
            title="What Are Stablecoins — And How You Could Use Them"
            class="content-widget__title"
          >
            What Are Stablecoins — And How You Could Use Them
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3
            title="Wrapped Tokens Explained: What Are Wrapped Tokens and How They Work"
            class="content-widget__title"
          >
            Wrapped Tokens Explained: What Are Wrapped Tokens and How They Work
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="Who Is A Bitcoin Maximalist?" class="content-widget__title">
            Who Is A Bitcoin Maximalist?
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3
            title="What Are Blockchain Oracles And How Do They Work"
            class="content-widget__title"
          >
            What Are Blockchain Oracles And How Do They Work
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="What are Crypto Airdrops?" class="content-widget__title">
            What are Crypto Airdrops?
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="What Are AML/KYC For?" class="content-widget__title">What Are AML/KYC For?</h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3
            title="What Are DeFi Liquidity Pools and How Do They Work?"
            class="content-widget__title"
          >
            What Are DeFi Liquidity Pools and How Do They Work?
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="How to Create an NFT Token?" class="content-widget__title">
            How to Create an NFT Token?
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="What Is NFT? Non-fungible Tokens Explained" class="content-widget__title">
            What Is NFT? Non-fungible Tokens Explained
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="What is IDO?" class="content-widget__title">What is IDO?</h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3
            title="How to Avoid Losing Your Crypto in Cross-Chain Swaps: a Detailed Guide"
            class="content-widget__title"
          >
            How to Avoid Losing Your Crypto in Cross-Chain Swaps: a Detailed Guide
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="What Are Cross-Chain Swaps?" class="content-widget__title">
            What Are Cross-Chain Swaps?
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="What Is Web3? " class="content-widget__title">What Is Web3?</h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="P2P Lending: How Does It Work?" class="content-widget__title">
            P2P Lending: How Does It Work?
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="What Exactly Is the Innovation in Blockchain?" class="content-widget__title">
            What Exactly Is the Innovation in Blockchain?
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="Recognizing Crypto Bubbles" class="content-widget__title">
            Recognizing Crypto Bubbles
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3
            title="Custodial and Non-Custodial Cryptocurrency Storage"
            class="content-widget__title"
          >
            Custodial and Non-Custodial Cryptocurrency Storage
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="Crypto Staking Explained" class="content-widget__title">
            Crypto Staking Explained
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="How to Use Trezor Wallet" class="content-widget__title">
            How to Use Trezor Wallet
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="How to Use Ledger Wallet" class="content-widget__title">
            How to Use Ledger Wallet
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="How to Use Trustwallet" class="content-widget__title">
            How to Use Trustwallet
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="How to Use Metamask Wallet" class="content-widget__title">
            How to Use Metamask Wallet
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="Watching Coin Values: How to Read a Price Chart" class="content-widget__title">
            Watching Coin Values: How to Read a Price Chart
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3
            title="Dusting Attack: What Is It and How Does It Happen"
            class="content-widget__title"
          >
            Dusting Attack: What Is It and How Does It Happen
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="What Is Arbitrum?" class="content-widget__title">What Is Arbitrum?</h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3
            title="Scaling Solutions: What Are Layer-1 and Layer-2 Protocols"
            class="content-widget__title"
          >
            Scaling Solutions: What Are Layer-1 and Layer-2 Protocols
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="Blockchain Scalability Problem Explained" class="content-widget__title">
            Blockchain Scalability Problem Explained
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
    <div class="column mb-4 col-12 col-md-6 col-lg-4" style="display: none">
      <div class="content-widget content-widget__long-tile content-widget_light">
        <!---->
        <div class="content-widget__body">
          <h3 title="What is Directed Acyclic Graph (DAG)?" class="content-widget__title">
            What is Directed Acyclic Graph (DAG)?
          </h3>
          <!---->
          <!---->
          <div class="content-widget__link">Read more ❯</div>
        </div>
      </div>
    </div>
  </div>
  <div class="paginator">
    <div class="paginator__wrapper">
      <!---->
      <div class="paginator__items">
        <button class="paginator__item paginator__item_active">1</button
        ><button class="paginator__item">2</button><button class="paginator__item">3</button
        ><button class="paginator__item">4</button>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        class="arrow-common paginator__arrow paginator__arrow_right arrow-common_sm"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M13.8552 6.23864L19.7296 11.4239C20.0901 11.7421 20.0901 12.2579 19.7296 12.5761L13.8552 17.7614C13.4947 18.0795 12.9103 18.0795 12.5498 17.7614C12.1893 17.4432 12.1893 16.9273 12.5498 16.6091L16.8484 12.8148L4.81478 12.8148C4.36479 12.8148 4 12.45 4 12C4 11.55 4.36479 11.1852 4.81478 11.1852L16.8484 11.1852L12.5498 7.39092C12.1893 7.07272 12.1893 6.55684 12.5498 6.23864C12.9103 5.92045 13.4947 5.92045 13.8552 6.23864Z"
        ></path>
      </svg>
    </div>
  </div>
</div>
