<div class="c-title">
  <h1>Enter the recipient address</h1>
</div>

<form (submit)="onSubmit()" [formGroup]="form">
  <div class="app-card c-echange-selector">
    <div class="app-group">
      <ng-container *ngLet="fromAsset$ | async as fromAsset">
        <app-cyrrency-amount-selector
          label="You send"
          label2="From"
          [asset]="fromAsset"
          [amountValue]="fromAmount$ | async"
          (amountUpdated)="updateInputValue($event)"
        ></app-cyrrency-amount-selector>
      </ng-container>
      <ng-container *ngLet="{ toAsset: toAsset$ | async } as input">
        <app-cyrrency-amount-selector
          label="You get"
          label2="To"
          [asset]="input.toAsset"
          [amountValue]="toAmount$ | async"
          (amountUpdated)="updateInputValue($event)"
          inputMode="output"
        ></app-cyrrency-amount-selector>
      </ng-container>
    </div>
    <div class="c-exchange-rate">
      <div class="c-exchange-rate__label">Exchange rate:</div>
      <div>
        1 {{ this.fromTokenFormControl | appFormValue }} <span> &nbsp; = &nbsp; </span>
        {{ this.exchangeRate$ | async }}
        {{ this.toTokenFormControl | appFormValue }}
      </div>
    </div>
  </div>

  <div class="app-card c-address-card" *ngIf="!this.confirmed()">
    <label for="address" class="app-input-label">Provide the ETH address:</label>
    <input
      placeholder="Recipient address"
      type="text"
      formControlName="recipientAddress"
      class="app-input"
      id="address"
    />
    <hr />
    <div>
      <!-- Toggle Button -->
      <div class="refundTxt" (click)="isCollapsed = !isCollapsed">
        <span>Refund address and notifications</span>
        <div #arrow>
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fa"
            data-icon="chevron-up"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="svg-inline--fa fa-chevron-up fa-w-16 arrow-up"
          >
            <path
              fill="currentColor"
              d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"
              class=""
            ></path>
          </svg>
        </div>
      </div>

      <!-- Collapsible Content -->
      <div [ngClass]="{ collapse: isCollapsed, 'collapse-show': !isCollapsed }">
        <label for="refund" class="app-input-label">Provide the BTC refund address:</label>
        <input
          placeholder="Refund address"
          type="text"
          formControlName="refundAddress"
          class="app-input app-input-refund"
          id="refundAddress"
        />
        <label for="email" class="app-input-label">Provide your e-mail address: </label>
        <input
          placeholder="swapspace@mail.com"
          type="email"
          formControlName="email"
          class="app-input app-input-email"
          id="email"
        />
      </div>
    </div>
    <div class="c-terms-of-use">
      <tui-checkbox formControlName="acceptTerms" class="tui-space_right-3"></tui-checkbox>
      <div>
        I accept the <a href="">Terms of Use</a> and <a href="">Privacy Policy</a>
        Next
      </div>
    </div>

    <button type="submit" tuiButton [disabled]="this.form.invalid" class="c-btn">Next</button>
  </div>

  <div
    class="invaders-game-tile invaders-game-tile__gradient invaders-game-tile__disabled"
    *ngIf="this.confirmed()"
  >
    <img
      src="../../../../../../assets/img/game-tile-laser.webp"
      alt="laser"
      width="292"
      height="146"
      class="invaders-game-tile__image invaders-game-tile__image_disabled"
    />
    <h2 class="invaders-game-tile__title invaders-game-tile__animation">Insert coin</h2>
    <p class="invaders-game-tile__text">
      Please send funds to the deposit address to unlock the game.
    </p>
    <button
      disabled="disabled"
      type="button"
      class="button invaders-game-tile__button button_sm button_primary button_none button_ custom-disabled-opacity"
    >
      Start
    </button>
  </div>
</form>
