<div class="partners">
  <h1 class="partners__title">Partners</h1>
  <div class="partners__wrapper">
    <div class="partners__column">
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/z9CguKkuE2THrbZT4q1xds3ZI.svg"
                alt="Binance"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Binance is the world’s largest cryptocurrency exchange based in Hong Kong. Binance
              seeks to improve the blockchain community, with its current focus on making markets
              more liquid and secure, paving the way for institutional adoption of cryptocurrency.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/g-RFX7zCnTa_IxYkwH42vD_WP.svg"
                alt="StealthEX"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              StealthEX is fast and easy to use. It has the widest range of coins and tokens
              available when it comes to non-DeFi providers — 1300 — all without having to sacrifice
              security and self-custody.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/d606bf0903aa848e6dfe9a0cc7a51ff935dea5e642c38af1bf3af595ca52793e.svg"
                alt="Blockchain.com"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Blockchain.com is one of the world's most trusted and popular platforms for retail
              customers and institutions to buy, sell, and trade cryptocurrency.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/303959fdb81f0bf2a69538e30c6bbe46737493e4c77fdb8f5bc7d65f6e4c4dc6.svg"
                alt="Glazok"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>Monitoring of exchange services</p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/wrzph_gI7rsmSgYt3x5f1kAuz.svg"
                alt="ChangeNOW"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              ChangeNOW is a non-custodial exchange service mindful of your privacy. Launched in
              2017, it now supports over 900 currencies. ChangeNOW offers only the best rates by
              comparing those offered by the largest exchanges and picking the most favorable one
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/Pe2izQacX6efdPj50owKDxKI8.svg"
                alt="SideShift"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              SideShift is a crypto exchange established in 2019. It’s fast and anonymous — no
              sign-up required! Shift between BTC, ETH, BCH, XMR, XAI, and 50+ other
              cryptocurrencies.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/3753c54e090422d067460ebcf6fb75e8edf3303a2bc94f95810f1393341ba4c2.svg"
                alt="Trocador.app"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Trocador.app is an exchange aggregator focused on helping the user not only get the
              best rates for their swaps, but also protecting their interests and privacy so they
              can feel safer when doing business with crypto.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/L9kj28scM4xITNie6Ev3cu0CP.svg"
                alt="Guardarian"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Guardarian is a virtual currency exchange service established in 2017. It specializes
              in crypto-fiat exchanges by providing a market-leading onramp/offramp solution
              connecting fiat and crypto worlds, which enabled it to become one of the first fiat
              partners for SwapSpace.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/PF3KNqhKoLdN2ZBmuE2iHoLeL.svg"
                alt="n.exchange"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              n.exchange is a non-custodial instant crypto exchange, meaning no user funds are held
              on the platform. In operation since 2016, the service allows users to have fast
              transactions and enjoy high limits.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/RsjL8-KCUqm1Rciqg2-G_pQfd.svg"
                alt="Exolix"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Exolix is a non-custodial crypto exchange that doesn’t require registration and has no
              exchange limit. It provides both fixed and floating exchange options. Its mission is
              to make the exchange process fast and easy. It was launched in 2018 in Hong Kong and
              is currently located in Estonia. At the moment of writing, it supports over 500 coins.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/ZLtSxvDelQnaFi12BStdE-zH7.svg"
                alt="Gate.io"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Gate.io is one of the top 10 crypto exchanges in the world, founded in 2013 and
              trusted by millions of users all around the globe — more than $4.6 billion in daily
              trading volume is the proof of that.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/c9b52a7d76792884195d5cbd06ba868934f18e84d2771962c3dd767af114e57d.png"
                alt="SOLPAD"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              SOLPAD is an innovative platform built on the Solana blockchain that serves as a
              launchpad for NFT projects. To provide a seamless experience for creators and
              collectors alike, SOLPAD facilitates the tokenization, sale, and distribution of
              Non-Fungible Tokens (NFTs) on the Solana network.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/1FCYtQgKVZHXcHgKiWjeStlli.svg"
                alt="Switchain"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Switchain is a crypto exchange infrastructure solution for crypto businesses across
              the globe. It seeks out the best rates to provide users with an easy, cheap and
              convenient way to exchange their assets.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/kQiuwCGsGT8SPgqY4Dh0E-kTA.svg"
                alt="InstaSwap"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              InstaSwap is a cross-chain, non-custodial instant exchange platform created for the
              simple exchange of any cryptocurrency.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/a13706ceafbd5ab8f84fd33a8815627dbb87c6cff2bf8952eca6bab5a6a2ba6e.svg"
                alt="Nanswap"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Nanswap is a cryptocurrency exchange specialized in Nano — no registration required.
              Nanswap offers very competitive rates for Nano and more than 300 cryptos.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/8d860047e42dedbf4db7bfe23852cd009dc9c4877eb2ff35ae3c97a82b337b09.svg"
                alt="BitcoinVN"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              BitcoinVN is Vietnam's premier Bitcoin and cryptocurrency exchange, established in
              2014. The team operates out of Ho Chi Minh City and besides its online exchange also
              operates Vietnam's largest Bitcoin ATM network and a high-volume OTC desk for HNWI and
              corporate clients.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/73d503cffe6deee5d1043a6968b01c63eb84ea52ccc40ef6341a0dce45650281.svg"
                alt="SwapNgo"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              SwapNgo is a one stop shop echo system to buy/sell crypto from fiat currencies, cross
              chain swaps, token to token swaps and limit swaps. The platform has its own Jackpot
              with weekly number drawings where users can win big with its native SNG tokens.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/0e873edc347465055e98fd95e7a444ce94de12166c8703f02d968dc614bbf154.png"
                alt="DZap"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              DZap is building an entire zapping infrastructure for both retail and projects within
              DeFi, with all the DeFi features under one roof.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="partners__column">
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/jf2Bv_Go6_dsylXm2SltYqWqv.svg"
                alt="1inch"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              1inch is a crypto ecosystem that includes a decentralized cryptocurrency exchange
              aggregator. The platform aims to offer quick and easy crypto swaps for its users while
              providing the best rates available.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/4c3071716815d298bababfe519497cfb2fbb2fa013243546c45009954ba649b9.svg"
                alt="EasyBit"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Formed around user privacy, EasyBit is a non-custodial cryptocurrency exchange service
              that currently offers the best rates — lowest fees combination, and that’s why they
              climb in the first place in rate comparisons for the vast majority of supported pairs.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/0fb7c8a468b9c2f7b029acebfd541126128c7f0851fae726897f5de44a88511b.svg"
                alt="LetsExchange"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              LetsExchange is an instant multi-currency exchange service free of registration,
              limits, and complications, supporting more than 2300 coins. With hassle-free access
              and fast automated transactions, LetsExchange saves your time at each step of the
              exchange process to help you get the most out of every swap.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/9YdNTttE6B3qD389yMnxMrCKT.svg"
                alt="Changelly"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Changelly is a cryptocurrency exchange service that’s been operating since 2015 and
              offers access to 150+ cryptocurrencies. Changelly’s mission is to make the exchange
              process effortless for everyone who wants to invest in cryptocurrency.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/uc9wl8Hjl84BevFKH8xOXgpaS.svg"
                alt="Mercuryo"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Mercuryo is a rapidly growing cryptocurrency infrastructure company providing global
              access to fast and cheap money transfers with bank-level oversight. Here, it provides
              a secure and customizable payment solution that enables its users to seamlessly swap
              fiat to crypto, among other great features.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/3qkAZhkAsRIq2LzDtLja9mHEu.svg"
                alt="Changee"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Changee is a modern exchange service with a new rate selection system that determines
              the best exchange rate for its users. Changee’s system is easy to use and completely
              transparent.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/Sxr48znbtXQTN2eN2VlR9b7Qz.svg"
                alt="SWFT"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              SWFT is a simple, safe, and secure cross-chain crypto exchange that enables users to
              swap cryptocurrencies quickly, securely, and at low cost.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/zV_2iSjvsoHt0gouAvHist8Bk.svg"
                alt="Alfacash"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Alfacash is a 9-year-old trusted cryptocurrency exchange which has seen and survived
              wild things happening inside the crypto-world. It's fast, safe and private.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/C5Xk34lMRhNLg3KSwsh4nEEX0.svg"
                alt="Godex"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Godex is a convenient and effective crypto exchange platform. It became operational at
              the end of 2017 and since then has earned a reputation for its reliability.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/BkrDEyjcOdI8oDqprumg4F1ym.svg"
                alt="Rabbit.io"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Rabbit Wallet is an open-source crypto wallet designed for secure transactions across
              a broad spectrum of major cryptocurrencies. Its self-custodial architecture ensures
              direct access to blockchains, providing users with complete control over their wallet
              keys.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/7f82546d6cb5bc297efa0af2bbb3afe64291a78746cd025ad241d75d5cfe5945.svg"
                alt="Quantex"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              At Quantex, the focus is on user choice. The mix of a non-custodial swap platform and
              a custodial trading platform allows the user to choose whether to retain custody of
              their funds, or allow Quantex to secure it — users will never be forced to do either.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/92ff55c6a77ae6176a8377702c3f1aa99ed2e9b88c85a90f257c89e5516a0c29.svg"
                alt="Quickex"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Imagine a world where swapping cryptocurrencies is as easy as clicking a button, where
              you're not bogged down by big fees, and where the speed of your transaction leaves you
              in awe. Welcome to Quickex.io, a revolutionary online crypto exchange platform
              established in 2018, designed with the user in mind to usher in a new era of
              cryptocurrency exchange.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/hxCflsFmimYGcH3IUWGcnLGN7.svg"
                alt="fox.exchange"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              fox.exchange is an anonymous, secure, non-custodial instant crypto-to-crypto exchange
              with one of the best rates on the market.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/70b5a5ddd416009b354d2c68c49b480e848e144f27a2c880f17212fa51d57e08.svg"
                alt="ShapeBTC"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              ShapeBTC is a crypto exchange with a team that is dedicated to making the process of
              exchanging cryptocurrency as simple and straightforward as possible for all its users.
              It strives to ensure that everyone can conduct cryptocurrency transactions without
              unnecessary hassle and risks.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/c9c19112c41a4caebf08196766eaead480e33bce2d4201c572a39c1800cb95e2.svg"
                alt="GoExme"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              GoExme is an online platform for instant and secure cryptocurrency exchange. The
              platform’s reputation and numerous positive reviews speak for themselves! To verify
              this, you won't even need to go through registration and verification. If you
              encounter any issues or have questions, GoExme’s customer support operators, who work
              around the clock, are always ready to assist you.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/e2b4b90930f9c81b3d6516bf022d8823c5b7006ce99eb7e2aa374b6ef86f282a.svg"
                alt="Swappix"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Swappix.io is a cryptocurrency exchange platform offering over 570 trading pairs
              without the need for registration. The platform focuses on simplicity, speed, and
              reliability, providing convenient cryptocurrency exchanges without restrictions
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="partners__column">
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/490a3c86e5cc73c028a5c8d96732e01669468ef7b34e9199f1098096bfe60a67.svg"
                alt="Bybit"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Bybit is one of top players among cryptocurrency exchanges. It is used by 40+ million
              customers and boasts $25B+ in daily average trading volume, which makes it the
              second-largest crypto exchange in the world by volume.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/DsckVjNfwhJ3IjUWMn-aBfe8p.svg"
                alt="SimpleSwap"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              SimpleSwap has made the process of cryptocurrency exchange simple, safe, and
              convenient. Customers and partners trust this platform, there are a lot of good
              reviews and a high rating on Trustpilot.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/j6HM6GUGlAM_MgKU5hc36mKrC.svg"
                alt="MoonPay"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              MoonPay is the world’s leading Web3 infrastructure company. They are transforming the
              modern customer experience by building end-to-end solutions for payments, custody,
              world class design, and enterprise-scale digital asset and smart contracts minting.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/2tquUO1RX36nRAUOZUHDYO-d7.svg"
                alt="FixedFloat"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              FixedFloat is an instant cryptocurrency exchanger created in 2018. It offers a fast
              way to exchange cryptocurrency due to full automation without KYC and registration.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/o0dC5pN0OG4iP0vfrQPdRWoeO.svg"
                alt="ChangeHero"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              ChangeHero is an instant cryptocurrency exchange service with a customer-first policy.
              As a non-custodial service, it doesn’t hold your funds. Crypto swaps on ChangeHero are
              as easy as pie as there are no registrations and logins.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/80e57f5cea2fbad369f06d715a447f6e5dcebe758d4b50303e7985e20086d330.svg"
                alt="ExWell"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              ExWell is a crypto exchange dedicated to providing its users with an easy, safe, and
              profitable way of exchanging their assets.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/wJOn5n2WYANmtCi2dgtuYKFN8.svg"
                alt="CoinCraddle"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              CoinCraddle is a crypto exchange established in 2020. Its amazing rates help it
              realize its mission, which is to enable millions of users around the world to exchange
              their crypto assets freely, anonymously, and, most importantly, in a safe way.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/727064ce71d474c00411ab9ace2a7eaa2b8cf12dab94bcad789cd22a6a339a92.svg"
                alt="FinchPay"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              FinchPay is a fully licensed and regulated fiat-to-crypto exchange service provider
              that allows users to buy popular cryptocurrencies using a credit/debit card or local
              payment methods.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/6g8mz5QaSEauFuxymD475huL-.svg"
                alt="Swapuz"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Swapuz is a crypto exchange established in 2020. It provides the fastest crypto swaps
              with no KYC and flexible low fees.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/RnILyEcLFqNUxJPOny0gFqZ6v.svg"
                alt="Trezor"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Trezor is a hardware cryptocurrency wallet, the first of its kind and the most trusted
              one. It boasts unparalleled security and makes storing, managing, and trading crypto
              assets as secure as it can be. The wallet provides a smooth user experience, which
              allows even beginners to use it with ease. Trezor was made by SatoshiLabs.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/wC82wVii_BvZEdB7pOZfQjlHo.svg"
                alt="Simplex"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Simplex allows its users to seamlessly purchase crypto assets using their local
              currency. No need to go through the hassle of finding a trustworthy seller or dealing
              with complex trading interfaces.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/f829588c9c6ccb1a0d4fa18d21d4514991b70886419eab806a3445228d48dd99.svg"
                alt="CoinsDo"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              CoinsDo is a non-custodial wallet that gives users complete control over their private
              keys, ensuring that only they have access to their funds.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/31ae86ee2110e0217b0941f324a68121e40b86ddb5c428929b936dc95026c259.svg"
                alt="Swapter"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Swapter's main mission is to scale the use of digital technologies in the community.
              The project aims to provide simplicity, high-speed transaction processing, and
              security.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/99R7-66rK1COsgTWy5NXfrhHZ.svg"
                alt="Flyp.me"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Flyp.me is an instant crypto swap service providing a secure way to swap 50+
              cryptocurrencies straight from your wallet.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/c37613186c73831186a1b1931d578fb158b224c9dcf9446b5049d839807e3744.png"
                alt="EGSwap"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Conceived to redefine the norms of decentralized trading, EGSwap stands as a testament
              to innovation by the EG Team, offering reduced fees, revenue share with projects,
              improved trading efficiency, and a dedication to social contribution. A fraction of
              every transaction fee within EGSwap is directed towards global social impact projects,
              ensuring that every trade contributes to a greater cause. At the heart of this
              ecosystem lies the EG Token, a versatile digital asset designed to empower
              transactions, foster community rewards, and support philanthropic activities.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/07a96ec7b40d61a46a4b13ec06fb1fb13621c383246f6447222d936957b36377.svg"
                alt="Guardex"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Guardex is a crypto exchange with no sign-up and the best rates. It’s fully automatic,
              providing absolutely safe and lightning fast swaps.
            </p>
          </div>
        </div>
      </div>
      <div role="link" class="partners-tile partners__col">
        <div class="partners-tile__tile">
          <div class="partners-tile__wrapper">
            <div class="partners-tile__logo_container">
              <img
                src="https://storage.swapspace.co/static/c7f586d48339f16ef0890ecf15923bf2533b02acdd6ddcf9036bccd3cd97db92.svg"
                alt="Xgram"
                width="220"
                height="44"
                class="partners-tile__logo"
              />
            </div>
            <p>
              Xgram offers a fast and easy way to exchange cryptocurrencies through Telegram and a
              web application without the mandatory KYC process. By utilizing liquidity from both
              CEX and DEX, along with its own liquidity, the service is convenient, accessible, and
              advantageous for everyone.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
