.c-mobile-nav-bar {
  display: none;

  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  padding: 2rem;

  @media (max-width: 1440px) {
    display: flex;
  }

  padding-left: 4rem;
  padding-right: 4rem;

  @media screen and (max-width: 600px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .c-mobile-nav-bar__logo {
    @media screen and (max-width: 600px) {
      img {
        width: 150px;
      }
    }

    @media screen and (max-width: 400px) {
      img {
        width: 100px;
      }
    }
  }

  .c-mobile-nav-bar__button-icon {
    font-size: 1.4rem;
    color: var(--tui-text-01);
  }

  .c-mobile-nav-bar__account-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.c-mobile-nav-bar__dropdown {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.c-nav-bar {
  display: flex;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
  gap: 9rem;
  justify-content: center;

  @media (max-width: 1440px) {
    display: none;
  }

  .c-nav-bar__items {
    display: flex;
    gap: 3rem;
    cursor: pointer;
    align-items: center;
  }
}

.c-dropdown-content {
  padding: 1rem;
}

.c-nav-bar__item {
  color: var(--tui-text-01);
}