.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 901px) {
  .container {
    max-width: 890px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.app__container {
  margin-top: 1rem;
}

.app__content {
  background: #231f26;
  padding-bottom: 5rem;
  position: relative;
  flex: 1 0 auto;
}

.app__content_alt-bg-step1 {
  background-image: radial-gradient(30.89% 86.89% at 65% 53.11%, rgba(81, 53, 79, .42) 0, rgba(81, 53, 79, 0) 93.75%);
}

.app__content_alt-bg-index {
  background: #27212b;
  background-image: radial-gradient(800px 400px at 50% 150px, rgba(41, 23, 59, .3) 0, rgba(41, 23, 59, 0) 100%), radial-gradient(400px 300px at 40% 17%, rgba(83, 57, 125, .2) 0, rgba(41, 23, 59, 0) 100%), radial-gradient(300px 200px at 80% 25%, rgba(83, 57, 125, .2) 0, rgba(41, 23, 59, 0) 100%), radial-gradient(400px 300px at 67% 40%, rgba(83, 57, 125, .3) 0, rgba(41, 23, 59, 0) 100%), radial-gradient(300px 300px at 30% 50%, rgba(83, 57, 125, .2) 0, rgba(41, 23, 59, 0) 100%), radial-gradient(500px 600px at 40% 85%, rgba(227, 87, 96, .1) 0, rgba(41, 23, 59, 0) 100%), radial-gradient(400px 300px at 70% 83%, rgba(227, 87, 96, .1) 0, rgba(41, 23, 59, 0) 100%), radial-gradient(400px 500px at 35% 90%, rgba(83, 57, 125, .3) 0, rgba(41, 23, 59, 0) 100%);
  background-repeat: no-repeat;
}

.app__content_alt-bg-exchange-listing {
  background: url('/assets/img/exchange-listing-bg.a446999.svg'), radial-gradient(800px 800px at 50% 35%, rgba(81, 53, 79, .6) 0, rgba(81, 53, 79, 0) 70%), #231f26;
  background-position: top 90px left calc(50vw - 70px), top;
  background-repeat: no-repeat;
}

.app__content_alt-bg-affiliate {
  background-image: radial-gradient(50% 50% at 100% 0, #36293b 0, rgba(54, 41, 59, 0) 100%), url('/assets/img/bg/planets.webp');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

.app__content_alt-bg-hiw {
  background: url('/assets/img/bg/how-it-works-bg.svg'), #231f26 no-repeat 100%;
  background-size: cover;
}

.app__content_alt-bg-1 {
  background: #fff;
}

.app-academy__content {
  background: #fff;
  padding-bottom: 5rem;
  position: relative;
}

.academy-layout-header {
  background-image: url('/assets/img/academy/1440.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.price-predictions-list__page {
  background: #fff;
  padding-bottom: 5rem;
}
