<div>
  <h1>Success stories</h1>
  <section class="success-stories-preview-tiles">
    <div class="row">
      <div class="column mb-4 col-12 col-md-6 col-lg-4">
        <div
          class="content-widget success-stories-preview-tiles__tile content-widget__short-tile content-widget_dark"
        >
          <img
            src="https://storage.swapspace.co/static/853c76668aece827d76fd6cd76cc447b3371f5ffe212c42c1345bf2baff0759d.png"
            alt="SwapSpace foils $555k cyber theft"
            width="348"
            height="160"
            loading="lazy"
            class="content-widget__image"
          />
          <div class="content-widget__body content-widget__body_s">
            <h3 title="SwapSpace foils $555k cyber theft" class="content-widget__title">
              SwapSpace foils $555k cyber theft
            </h3>
            <small class="success-stories-preview-tiles__tile--info">
              19 Jul 2024 ◦ 1 min read
            </small>
            <div class="content-widget__text mb-i">
              SwapSpace helps secure more than $555k from a cyber attack on Coins.ph
            </div>
            <div class="content-widget__link">Read more ❯</div>
          </div>
        </div>
      </div>
      <div class="column mb-4 col-12 col-md-6 col-lg-4">
        <div
          class="content-widget success-stories-preview-tiles__tile content-widget__short-tile content-widget_dark"
        >
          <img
            src="https://storage.swapspace.co/static/0b055f6d654722959ee7670b205c2c000a3fcfa626300f65ceed0b48bbea46a3.png"
            alt="SWFT Blockchain"
            width="348"
            height="160"
            loading="lazy"
            class="content-widget__image"
          />
          <div class="content-widget__body content-widget__body_s">
            <h3 title="SWFT Blockchain" class="content-widget__title">SWFT Blockchain</h3>
            <small class="success-stories-preview-tiles__tile--info">
              11 Mar 2024 ◦ 1 min read
            </small>
            <div class="content-widget__text mb-i">
              2885 users made their successful exchanges via SWFT Blockchain on SwapSpace for the
              past 9 months
            </div>
            <div class="content-widget__link">Read more ❯</div>
          </div>
        </div>
      </div>
      <div class="column mb-4 col-12 col-md-6 col-lg-4">
        <div
          class="content-widget success-stories-preview-tiles__tile content-widget__short-tile content-widget_dark"
        >
          <img
            src="https://storage.swapspace.co/static/5ce717e391f05339a8a29c814c818d02017ba55f1fde789f4b3a173c98143ee3.png"
            alt="Collaborative Intervention"
            width="348"
            height="160"
            loading="lazy"
            class="content-widget__image"
          />
          <div class="content-widget__body content-widget__body_s">
            <h3 title="Collaborative Intervention" class="content-widget__title">
              Collaborative Intervention
            </h3>
            <small class="success-stories-preview-tiles__tile--info">
              22 Feb 2024 ◦ 2 min read
            </small>
            <div class="content-widget__text mb-i">
              SwapSpace Safeguarded Remitano Against a $41.5k Security Breach
            </div>
            <div class="content-widget__link">Read more ❯</div>
          </div>
        </div>
      </div>
    </div>
    <!---->
  </section>
</div>
