<div class="panel step3-panel mt-3" id="step3-panel">
  <div class="step3-panel__container">
    <img
      src="data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Im0xOC4zMTIxIDIwLjUxMjYtMTYuNDI4NzgtNi43NGMtLjc2ODM5LS4zMTUyLS44Mzk4NS0xLjM3NTUtLjEyMDcyLTEuNzkxbDE4Ljk1NjMtMTAuOTUyNWMuNzIyNC0uNDE3NDA5IDEuNjA4Mi4xODEzMiAxLjQ5MDIgMS4wMDcyOWwtMi41Mjc1IDE3LjY5MjUxYy0uMDkyMi42NDUtLjc2NjcgMS4wMzExLTEuMzY5NS43ODM3eiIKICAgICAgICAgIHN0cm9rZT0iI2EwNzg5YyIgc3Ryb2tlLXdpZHRoPSIxLjUiLz4KICAgIDxwYXRoIGQ9Im0xOCA2LTExIDkuNSAzLjUgMS41eiIgZmlsbD0iI2EwNzg5YyIvPgogICAgPHBhdGggZD0ibTcgMTZ2NS4yMzhjMCAuOTM1MiAxLjE2OTQ2IDEuMzU4NiAxLjc2ODIyLjY0MDFsMy4yMzE3OC0zLjg3ODEiIHN0cm9rZT0iI2EwNzg5YyIgc3Ryb2tlLXdpZHRoPSIxLjUiLz4KPC9zdmc+Cg=="
      alt="sending"
      width="24"
      height="24"
      class="step3-panel__image-desktop"
    />
    <div class="w-100">
      <div class="step3-panel__container_title">
        <img
          src="data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Im0xOC4zMTIxIDIwLjUxMjYtMTYuNDI4NzgtNi43NGMtLjc2ODM5LS4zMTUyLS44Mzk4NS0xLjM3NTUtLjEyMDcyLTEuNzkxbDE4Ljk1NjMtMTAuOTUyNWMuNzIyNC0uNDE3NDA5IDEuNjA4Mi4xODEzMiAxLjQ5MDIgMS4wMDcyOWwtMi41Mjc1IDE3LjY5MjUxYy0uMDkyMi42NDUtLjc2NjcgMS4wMzExLTEuMzY5NS43ODM3eiIKICAgICAgICAgIHN0cm9rZT0iI2EwNzg5YyIgc3Ryb2tlLXdpZHRoPSIxLjUiLz4KICAgIDxwYXRoIGQ9Im0xOCA2LTExIDkuNSAzLjUgMS41eiIgZmlsbD0iI2EwNzg5YyIvPgogICAgPHBhdGggZD0ibTcgMTZ2NS4yMzhjMCAuOTM1MiAxLjE2OTQ2IDEuMzU4NiAxLjc2ODIyLjY0MDFsMy4yMzE3OC0zLjg3ODEiIHN0cm9rZT0iI2EwNzg5YyIgc3Ryb2tlLXdpZHRoPSIxLjUiLz4KPC9zdmc+Cg=="
          alt="sending"
          width="16"
          height="16"
          class="step3-panel__image-table"
        />
        <div class="field d-f mb-3" id="step3-panel-deposit-address">
          <div class="d-f d-f-c">
            <span class="field__label field__label_standard"
              >Send 0.1 BNB<small style="color: #e35760; font-size: 10px; margin-left: 2px"
                >BEP20</small
              >
              to the deposit address:</span
            >
            <div class="field__wrapper">
              <p class="field__value field__value_lead">
                <span class="field__value_link field__value_link_white"
                  >0xa3F9b2631Aa5D145aB9D8873fda0693632bbbeaA</span
                >
                <button
                  type="button"
                  class="button field__button button_lg button_transparent button_uppercase button_"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="clone"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    class="field__small-button svg-inline--fa fa-clone fa-w-16 field__small-button_light-violet"
                  >
                    <path
                      fill="currentColor"
                      d="M288 448H64V224h64V160H64c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H288c35.3 0 64-28.7 64-64V384H288v64zm-64-96H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224c-35.3 0-64 28.7-64 64V288c0 35.3 28.7 64 64 64z"
                      class=""
                    ></path>
                  </svg>
                </button>
                <button
                  type="button"
                  class="button field__button button_lg button_transparent button_uppercase button_"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="qrcode"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                    class="field__small-button svg-inline--fa fa-qrcode fa-w-14 field__small-button_light-violet"
                  >
                    <path
                      fill="currentColor"
                      d="M0 80C0 53.5 21.5 32 48 32h96c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80zM64 96v64h64V96H64zM0 336c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V336zm64 16v64h64V352H64zM304 32h96c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H304c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48zm80 64H320v64h64V96zM256 304c0-8.8 7.2-16 16-16h64c8.8 0 16 7.2 16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s7.2-16 16-16s16 7.2 16 16v96c0 8.8-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s-7.2-16-16-16s-16 7.2-16 16v64c0 8.8-7.2 16-16 16H272c-8.8 0-16-7.2-16-16V304zM368 480a16 16 0 1 1 0-32 16 16 0 1 1 0 32zm64 0a16 16 0 1 1 0-32 16 16 0 1 1 0 32z"
                      class=""
                    ></path>
                  </svg>
                </button>
                <!---->
              </p>
            </div>
          </div>
          <!---->
        </div>
      </div>
      <div class="step3-panel__contract-address">
        <span class="step3-panel__contract-address_label"> Contract address: </span>
        <span class="step3-panel__contract-address_value"> **000000 </span>
      </div>
      <!---->
      <!---->
      <!---->
      <div class="step3-panel__dropdown-wallet-container">
        <div class="dropdown step3-panel__dropdownWithLinks">
          <button class="dropdown__toggle dropdown__toggle-bottom">
            Got questions?
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fa"
              data-icon="caret-down"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
              class="dropdown__caret svg-inline--fa fa-caret-down fa-w-10 dropdown__caret_collapse"
            >
              <path
                fill="currentColor"
                d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"
                class=""
              ></path>
            </svg>
          </button>
          <!---->
        </div>
        <div class="step3-panel-wallet" id="step3-panel-wallet">
          <div>
            <p class="step3-panel-wallet__success">
              You successfully sent funds with your MetaMask. You just have to wait until the
              exchange service gets it.
            </p>
            <div class="field d-f">
              <div class="d-f d-f-c">
                <span class="field__label field__label_light-violet"
                  >Deposit Transaction Hash:</span
                >
                <div class="field__wrapper">
                  <p class="field__value field__value_small">
                    <span class="field__value_link field__value_link_light-violet"
                      >0x1031fee7d41ff77489d33bb9e1c720e48a870e9b1834cb62def9040be7f5d6c6</span
                    >
                    <button
                      type="button"
                      class="button field__button button_lg button_transparent button_uppercase button_"
                    >
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="clone"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        class="field__small-button svg-inline--fa fa-clone fa-w-16 field__small-button_violet"
                      >
                        <path
                          fill="currentColor"
                          d="M288 448H64V224h64V160H64c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H288c35.3 0 64-28.7 64-64V384H288v64zm-64-96H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224c-35.3 0-64 28.7-64 64V288c0 35.3 28.7 64 64 64z"
                          class=""
                        ></path>
                      </svg>
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-f-c step3-panel__collapse">
    <div class="step-panel-info">
      <div class="row step-panel-info__row">
        <div class="column col-12 col-md-12">
          <div class="field d-f">
            <div class="d-f d-f-c">
              <span class="field__label field__label_light-violet">Recipient address:</span>
              <div class="field__wrapper">
                <p class="field__value field__value_small">
                  <span class="field__value_link field__value_link_light-violet"
                    >0xC8bf539C56aD2ABc9AdeD1A5433348315A10e9d1</span
                  >
                  <button
                    type="button"
                    class="button field__button button_lg button_transparent button_uppercase button_"
                  >
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="clone"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                      class="field__small-button svg-inline--fa fa-clone fa-w-16 field__small-button_light-violet"
                    >
                      <path
                        fill="currentColor"
                        d="M288 448H64V224h64V160H64c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H288c35.3 0 64-28.7 64-64V384H288v64zm-64-96H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224c-35.3 0-64 28.7-64 64V288c0 35.3 28.7 64 64 64z"
                        class=""
                      ></path>
                    </svg>
                  </button>
                  <!---->
                  <a
                    href="https://bscscan.com/address/0xC8bf539C56aD2ABc9AdeD1A5433348315A10e9d1"
                    target="_blank"
                    class="field__button field__button_last"
                    ><svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="arrow-up-right-from-square"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                      class="field__small-button svg-inline--fa fa-arrow-up-right-from-square fa-w-16 field__small-button_light-violet"
                    >
                      <path
                        fill="currentColor"
                        d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
                        class=""
                      ></path></svg
                  ></a>
                </p>
              </div>
            </div>
            <!---->
          </div>
          <!---->
        </div>
      </div>
      <!---->
    </div>
    <div class="d-fc step3-panel__hide-button step3-panel__hide-button_hidden">
      <p class="step3-panel__details">show details</p>
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fa"
        data-icon="caret-down"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 320 512"
        class="step3-panel__caret svg-inline--fa fa-caret-down fa-w-10"
      >
        <path
          fill="currentColor"
          d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"
          class=""
        ></path>
      </svg>
    </div>
  </div>
</div>
