<div class="press-news-header">
  <div class="press-news-header__gradient"></div>
  <div class="press-news-header__container">
    <h1 class="press-news-header__title">Press about us</h1>
    <div class="search-input press-news-header__search">
      <label
        for="rHMYEj"
        class="form-input form-input_dark form-input_rounded form-input_md search-input__input_md search-input__input_dark"
        ><span class="form-input__label"
          ><!---->
          <!----></span
        >
        <span class="form-input__wrapper"
          ><input
            id="rHMYEj"
            spellcheck="false"
            max="Infinity"
            min="-Infinity"
            maxlength="Infinity"
            placeholder="Search"
            step="any"
            trim="true"
            type="text"
            autocomplete="off"
            lang="en"
            inputmode="text"
            class="form-input__input form-input__input_rounded"
          />
          <!---->
          <!----></span
        ></label
      >
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="magnifying-glass"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        class="fa-search svg-inline--fa fa-magnifying-glass fa-w-16 fa-search_dark search-input__icon-without-dropdown"
      >
        <path
          fill="currentColor"
          d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
          class=""
        ></path>
      </svg>
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="xmark"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 384 512"
        class="fa-close svg-inline--fa fa-xmark fa-w-12 search-input__icon-without-dropdown"
        style="display: none"
      >
        <path
          fill="currentColor"
          d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
          class=""
        ></path>
      </svg>
    </div>
  </div>
  <div id="press-news" class="press-news-list p-r">
    <div class="press-news-list__row">
      <ng-container *ngIf="index === 0">
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/e7f9c199795080d2c8c0e8fabdba19a21017ddca4e3a525ba5b60861a8445dc9.svg"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">August 6, 2024</p>
              <p class="press-news-item__text">
                SwapSpace, a leading cryptocurrency exchange aggregator, is thrilled to announce its
                5th anniversary celebration with a series of exciting events and contests for the
                community. Since its inception, SwapSpace has been dedicated to providing secure and
                efficientcryptocurrencyswaps, and this milestone marks a significant achievement in
                its journey.
              </p>
            </div>
            <a
              href="https://blocktelegraph.io/swapspace-celebrating-5th-anniversary/"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/e02470ced721dd3612a82bd35088bb265a8ffd1b47f4b8281b5346356a1c40ce.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">July 25, 2024</p>
              <p class="press-news-item__text">
                Discover the top 5 cryptocurrency loyalty programs, offering innovative rewards and
                benefits to enhance your digital asset experience.
              </p>
            </div>
            <a
              href="https://blockonomi.com/cryptocurrency-loyalty-programs/"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/76b63d83ae2729688b9d0fad373dd73f108e3102bdf33239e76694dd99333da9.svg"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">July 20, 2024</p>
              <p class="press-news-item__text">
                SwapSpaceis an aggregator that has operated since 2019, it aims to save users’ time
                by aggregating the swap offers from major crypto exchanges and arranging the deals
                in order by the best rate without charging any extra fees.
              </p>
            </div>
            <a
              href="https://cryptorank.io/news/feed/a08d8-the-dex-aggregator-landscape-5-key-players-for-2024"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/39e9be4d273c54100e76f725a36ab0c7189aa30f907358ab17eabc186691518a.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">July 19, 2024</p>
              <p class="press-news-item__text">
                DEX aggregators have become essential tools in the DeFi ecosystem, allowing users to
                discover the most favorable rates across different decentralized exchanges.
                Presenting the top five DEX aggregators worth keeping an eye on, complete with
                comprehensive information about their partners, trading pairs, available
                cryptocurrencies, and support for fiat currency.
              </p>
            </div>
            <a
              href="https://zycrypto.com/the-dex-aggregator-landscape-5-key-players-for-2024/"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/c4cfefde46548c408ca0f529529a5d4ab4346fd3a36153d1b5fe1895cb9cf04d.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">June 29, 2024</p>
              <p class="press-news-item__text">
                SwapSpace, a leading cryptocurrency exchange aggregator, has introduced the
                innovative SwapSpaceInvaders Club, anNFT-based loyalty program designed to reward
                long-term users of the platform.
              </p>
            </div>
            <a
              href="https://www.cryptopolitan.com/swapspace-invaders-loyalty-program-explained/"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/3c06fb517bd96e517bf39a1bb46af9f7e49af7533a25e8446686cb24d631b473.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">June 29, 2024</p>
              <p class="press-news-item__text">
                SwapSpace, a leading cryptocurrency exchange aggregator, is excited to announce the
                launch of its innovative loyalty program, the “SwapSpace Invaders Club.” This
                program is designed to reward their long-term users by offering cashback payouts of
                up to 50% of the platform’s revenue share. This initiative incentivizes users to
                perform more swaps and engage with the platform in other ways.
              </p>
            </div>
            <a
              href="https://techbullion.com/swapspace-launches-invaders-club-an-nft-based-loyalty-program/"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/61789a8d08dd0b5b80cb7a977a6959a3b1f27f3e007b60d7ba6391c4f388c436.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">May 8, 2024</p>
              <p class="press-news-item__text">
                Dmail Network is excited to announce a groundbreaking partnership with SwapSpace, a
                premier crypto exchange aggregator that simplifies the cryptocurrency exchange
                process.
              </p>
            </div>
            <a
              href="https://blog.dmail.ai/swapspace-joins-dmail-networks-subscription-hub-streamlining-crypto-exchanges-with-top-aggregator/"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/3c06fb517bd96e517bf39a1bb46af9f7e49af7533a25e8446686cb24d631b473.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">May 8, 2024</p>
              <p class="press-news-item__text">
                The crypto industry in 2024 is the place to be and build a career. What would it
                take to come out on the top? What is it like? Read the stories of crypto
                entrepreneurs who have made it to success to learn!
              </p>
            </div>
            <a
              href="https://techbullion.com/careers-in-crypto-three-inspiring-success-stories/"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/7d2efcee0ada987b27b473e46f15e52100b2babfa2a4afb36adc44688d038d04.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">April 15, 2024</p>
              <p class="press-news-item__text">
                As the 2024 Bitcoin halving approaches, the collective wisdom from leaders at
                ChangeNOW, SwapSpace.co, Rubic.exchange, and Tangem.com presents a valuable guide
                for navigating the event.
              </p>
            </div>
            <a
              href="https://cryptodaily.co.uk/2024/04/navigating-the-waters-of-bitcoins-halving-2024-expert-insights-and-strategies"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/0f2e4bdcf3129d537af9febd4fc18548d7b7d7d4007e11c6edeff6457d3c1552.webp"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">April 15, 2024</p>
              <p class="press-news-item__text">
                SwapSpace, a cryptocurrency exchange aggregator, is thrilled to announce the launch
                of its latest product,«Spend Crypto», a comprehensive solution designed to transform
                the cryptocurrency experience, making it more practical and accessible for everyday
                use.
              </p>
            </div>
            <a
              href="https://coinpedia.org/information/swapspace-introduces-spend-crypto-for-daily-purchases-in-collaboration-with-bitrefill/"
              rel="dofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/33af1c45d203a792348881cd3839bcf05094772557377ad019d8bf9afac90811.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">March 29, 2024</p>
              <p class="press-news-item__text">
                SwapSpace takes some of the best aspects of exchanging with CEXs and puts them in
                front of the user, helping you find the best rates and exchange pairs on the market.
              </p>
            </div>
            <a
              href="https://beincrypto.com/learn/swapspace-guide/"
              rel="dofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/3cfdac9c0d5ac0846e403b4b2f355ebd168322d3d4d13eb9362aaba2bec360e5.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">March 1, 2024</p>
              <p class="press-news-item__text">
                Cryptocurrency exchanges have become an essential part of the blockchain ecosystem,
                allowing users to buy, sell, and trade digital assets. However, with the increasing
                number of exchanges, it has become challenging for traders to monitor prices and
                liquidity across various platforms. This is where crypto exchange aggregators come
                into play, simplifying the trading process by consolidating data from multiple
                exchanges into a single interface. In this article, we will explore how these
                aggregators work and discuss their advantages in the evolving cryptocurrency
                landscape.
              </p>
            </div>
            <a
              href="https://en.cryptonomist.ch/2024/03/01/best-crypto-exchange-aggregators/"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="index === 1">
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/333da776738a90c116b92612b9d5a5b12246ae16184ae139d3ab53c7801ac200.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">November 23, 2023</p>
              <p class="press-news-item__text">
                SwapSpaceis a crypto exchange aggregator that facilitates digital asset swaps.
                Featuring more than 1,850 cryptocurrencies and 600,000 trading pairs from over 19
                crypto exchanges, SwapSpace saves users’ time by bringing in the best exchange
                offers in terms of rates and speed at no extra cost.
              </p>
            </div>
            <a
              href="https://cryptopotato.com/swapspace-simplifying-crypto-swaps/"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/ca66f5a0492a720f9009c2c4f998ec80d50a3ce8ebe94868421d6c993919c1e8.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">November 6, 2023</p>
              <p class="press-news-item__text">
                SwapSpace seamlessly integrates multiple swap services to enhance the speed and
                convenience of users’ exchanges. The platform consolidates the capabilities of 18
                instant exchanges, empowering individuals to effortlessly select the most profitable
                rate and conduct smooth asset exchanges.
              </p>
            </div>
            <a
              href="https://ambcrypto.com/swapspace-integrates-multiple-swap-services-for-an-effortless-user-experience/"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/2075634b8d7aac04fa15dddb4b64691d7eacaca3397ff3aa056dbc8b0f0ee187.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">January 9, 2023</p>
              <p class="press-news-item__text">
                SwapSpace is definitely for every trader out there, no matter your level of
                experience. The best use case of SwapSpace is the fact that they have a combined
                cryptocurrency exchange pool of 15 well-known major exchanges.
              </p>
            </div>
            <a
              href="https://tradingbrowser.com/reviews/swapspace/"
              rel="dofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/images/logo (1) 4.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">July 30, 2021</p>
              <p class="press-news-item__text">
                Swapspace creates a universe of tranquillity in the chaotic multiverse of crypto.
                Firstly it gathers together the best swap service providers and presents them to the
                user or trader...
              </p>
            </div>
            <a
              href="https://www.publish0x.com/contests-blog/swapspace-the-one-stop-shop-for-token-swapping-a-guidereview-xznwvjl"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/images/logo (1) 5.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">July 25, 2021</p>
              <p class="press-news-item__text">
                It didn't even take a minute, which is really impressive. Big thumbs up to Swapspace
                for such quick service.
              </p>
            </div>
            <a
              href="https://www.publish0x.com/qsyal/my-personal-experience-with-swapspace-xyyyplo"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/images/logo (1) 2.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">July 25, 2021</p>
              <p class="press-news-item__text">
                SwapSpace features a centralized aggregate interface that allows you to compare and
                trade 450 different cryptocurrencies and tokens through multiple exchanges -
                including some you might not be familiar with.
              </p>
            </div>
            <a
              href="https://www.publish0x.com/the-laypersons-crypto/will-swapspace-solve-one-of-defis-biggest-problems-xrnnlmr"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/images/logo (1) 6.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">July 24, 2021</p>
              <p class="press-news-item__text">
                SwapSpace is a cryptocurrency exchange aggregator that integrates several swap
                services and exchanges to find the best rate for it's users.
              </p>
            </div>
            <a
              href="https://www.publish0x.com/of-faucets-and-micro-earnings/the-most-underrated-instant-swap-service-swapspace-xnxqjvm"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/images/logo (1) 0.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">July 24, 2021</p>
              <p class="press-news-item__text">
                SwapSpace is an instant cryptocurrency exchange aggregator that combines thousands
                of exchanges offers from 14 major exchanges into a simple interface.
              </p>
            </div>
            <a
              href="https://www.publish0x.com/blockchain-insights/swapspace-more-than-a-crypto-exchange-xvyyeen"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/images/logo (1) 9.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">July 24, 2021</p>
              <p class="press-news-item__text">
                Non-custodial cryptocurrency exchange aggregator, SwapSpace enables you to make
                cross-chain exchanges quickly and easily with more than 500 assets while benefiting
                of the higher rate among all the exchange platforms compared.
              </p>
            </div>
            <a
              href="https://www.publish0x.com/ben06x/13-reasons-why-considering-swapspace-xvywqzn"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/images/logo (1) 8.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">July 22, 2021</p>
              <p class="press-news-item__text">
                SwapSpace is the crypto exchange that allows users to compare the rates provided by
                15 exchanges and chose the desired option.
              </p>
            </div>
            <a
              href="https://www.publish0x.com/mind-puzzle/back-to-school-swapspace-quick-guide-xlzydzz"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/images/logo (1) 3.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">July 21, 2021</p>
              <p class="press-news-item__text">
                SwapSpace presents you with a stand of fresh, juicy, and premium quality vegetables
                and fruits, and helps you choose the most convenient one.
              </p>
            </div>
            <a
              href="https://www.publish0x.com/tokenomics/how-swapspace-helped-me-become-an-uplander-very-quickly-and-xnxqozn"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/images/Captainaltcoin-01.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">July 20, 2021</p>
              <p class="press-news-item__text">
                Unlike other platforms where your coins are stored on the site’s servers, Swapspace
                doesn’t hold any funds, making it safe from hacker attacks. They instantly send
                thecoins you swapped to your wallet.Besides, the platform doesn’t require any
                personal information to use it.
              </p>
            </div>
            <a
              href="https://captainaltcoin.com/swapspace-review-2021-is-it-legit-and-safe-to-use/"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="index === 2">
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/6cac1fdcd2523fafb0a4cddf4f24ed2ea887e57bfae1b1a8221e3255ae44aad8.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">February 8, 2021</p>
              <p class="press-news-item__text">
                SwapSpaceis a reputable cryptocurrency exchange aggregator, allowing crypto traders
                and investors to find the best live exchange rates for swapping tokens.
              </p>
            </div>
            <a
              href="https://www.hedgewithcrypto.com/best-crypto-swap-platform/"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/e02470ced721dd3612a82bd35088bb265a8ffd1b47f4b8281b5346356a1c40ce.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">January 20, 2021</p>
              <p class="press-news-item__text">
                The brand new program is open to influencers, crypto enthusiasts, and content
                creators all over the world.
              </p>
            </div>
            <a
              href="https://blockonomi.com/swapspace-non-custodial-exchange-aggregator-announces-the-release-of-the-affiliate-program/"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/images/I2NQKTMOb465lFLLN-uuN7ix.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">October 26, 2020</p>
              <p class="press-news-item__text">
                With a particularly intuitive swapping process and over 350 coins and tokens, as
                well as more than 60,000 exchange pairs, SwapSpace has managed to establish itself
                as one of the more convenient instant exchange.
              </p>
            </div>
            <a
              href="https://cryptopotato.com/swapspace-quick-cryptocurrency-swaps-at-no-additional-fees/"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/images/YVpFrMXdWe8hyq4RkA4YsLwO.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">October 19, 2020</p>
              <p class="press-news-item__text">
                SwapSpace offers an instant, simple, and registration-free crypto-to-crypto exchange
                service.
              </p>
            </div>
            <a
              href="https://coinpedia.org/exchange/swapspace-exchange-review/"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/6cac1fdcd2523fafb0a4cddf4f24ed2ea887e57bfae1b1a8221e3255ae44aad8.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">September 5, 2020</p>
              <p class="press-news-item__text">
                SwapSpaceis a cryptocurrency exchange aggregator that allows traders and investors
                tosearch for the best rates in the crypto marketplace to instantly swap coins.
              </p>
            </div>
            <a
              href="https://www.hedgewithcrypto.com/swapspace-review/"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/images/s7E2Cgy-3MDW4oQ3H1HzV6Yv.svg"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">July 29, 2020</p>
              <p class="press-news-item__text">
                SwapSpace is a crypto exchange aggregator that doesn't require registration. The
                platform provides an opportunity to swap around 300 cryptocurrencies suing fixed and
                floating rates.
              </p>
            </div>
            <a
              href="https://cryptogeek.info/en/exchanges/swapspace-reviews"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/images/PJnluAFDfMmKxRxMpV_ka4Kl.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">May 8, 2020</p>
              <p class="press-news-item__text">
                SwapSpace has announced the launch of its Youtube Influencer Program. Since now,
                crypto video bloggers can monetize their channels and get rewards for reviews and
                screencasts related to SwapSpace.
              </p>
            </div>
            <a
              href="https://zycrypto.com/swapspace-crypto-exchange-aggregator-launches-youtube-influencer-program/"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
        <div class="press-news-list__col">
          <div class="press-news-item">
            <div class="press-news-item__logo-container">
              <img
                src="https://storage.swapspace.co/static/images/KNzGFMPYkRznUGrOJn_w5-n7.png"
                alt="press news logo"
                class="press-news-item__logo"
              />
            </div>
            <div>
              <p class="press-news-item__date">August 9, 2019</p>
              <p class="press-news-item__text">
                SwapSpace instant marketplace service has added Dash, expanding easy and economic
                avenues of switching out other cryptocurrencies.
              </p>
            </div>
            <a
              href="https://dashnews.org/swapspace-instant-cryptocurrency-exchange-marketplace-adds-dash/"
              rel="nofollow"
              target="_blank"
              class="press-news-item__link"
            >
              Read more ❯
            </a>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="paginator">
      <div class="paginator__wrapper">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="arrow-common paginator__arrow paginator__arrow_left arrow-common_sm"
          *ngIf="index > 0"
          (click)="prev()"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M13.8552 6.23864L19.7296 11.4239C20.0901 11.7421 20.0901 12.2579 19.7296 12.5761L13.8552 17.7614C13.4947 18.0795 12.9103 18.0795 12.5498 17.7614C12.1893 17.4432 12.1893 16.9273 12.5498 16.6091L16.8484 12.8148L4.81478 12.8148C4.36479 12.8148 4 12.45 4 12C4 11.55 4.36479 11.1852 4.81478 11.1852L16.8484 11.1852L12.5498 7.39092C12.1893 7.07272 12.1893 6.55684 12.5498 6.23864C12.9103 5.92045 13.4947 5.92045 13.8552 6.23864Z"
          ></path>
        </svg>
        <div class="paginator__items">
          <button class="paginator__item" [ngClass]="index === 0? 'paginator__item_active' : ''" (click)="onIndex(0)">1</button>
          <button class="paginator__item" [ngClass]="index === 1? 'paginator__item_active' : ''" (click)="onIndex(1)">2</button>
          <button class="paginator__item" [ngClass]="index === 2? 'paginator__item_active' : ''" (click)="onIndex(2)">3</button>
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="arrow-common paginator__arrow paginator__arrow_right arrow-common_sm"
          *ngIf="index < pages - 1"
          (click)="next()"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M13.8552 6.23864L19.7296 11.4239C20.0901 11.7421 20.0901 12.2579 19.7296 12.5761L13.8552 17.7614C13.4947 18.0795 12.9103 18.0795 12.5498 17.7614C12.1893 17.4432 12.1893 16.9273 12.5498 16.6091L16.8484 12.8148L4.81478 12.8148C4.36479 12.8148 4 12.45 4 12C4 11.55 4.36479 11.1852 4.81478 11.1852L16.8484 11.1852L12.5498 7.39092C12.1893 7.07272 12.1893 6.55684 12.5498 6.23864C12.9103 5.92045 13.4947 5.92045 13.8552 6.23864Z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>
