:host {
  display: block;
}

.c-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 7rem;
  margin-bottom: 3rem;
  width: 100%;

  .c-container {
    display: flex;
    gap: 7.5rem;

    width: 100%;

    flex-wrap: wrap;
    justify-content: center;
  }
}

::ng-deep {
  .index {
    &__margin {
      margin-top: 120px;
    }
  }
}
