.c-container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-bottom: 5rem;

  // padding-left: 4rem;
  // padding-right: 4rem;

  @media screen and (max-width: 900px) {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    flex-direction: column;
  }

  // flex-wrap: wrap;
  justify-content: center;

  // @media screen and (max-width: 1270px) {
  //   flex-direction: column-reverse;
  //   gap: 2rem;
  // }
}

.c-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 991px) {
  .c-title {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .c-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
