.c-wrapper {
  display: flex;
  justify-content: center;

  .c-container {
    max-width: 1100px;
    flex: 1;
    padding-top: 1rem;
    margin-bottom: 3rem;

    display: flex;
    gap: 6rem;

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }

    justify-content: center;
  }
}
