<div id="exchange-review-widget" class="exchange-review-widget mt-3">
  <form>
    <div class="d-fbc">
      <h3 class="exchange-review-widget__title">Rate Binance</h3>
    </div>
    <div class="exchange-review-widget__container">
      <div class="exchange-review-widget__rating">
        Your rating:
        <div class="rating rating_md" style="--star-color: #fbff2d; --empty-color: #673e60">
          <input id="r1" type="radio" name="rating" value="5" />
          <label for="r1"></label>
          <input id="r2" type="radio" name="rating" value="4" />
          <label for="r2"></label>
          <input id="r3" name="rating" type="radio" value="3" />
          <label for="r3"></label>
          <input id="r4" type="radio" name="rating" value="2" />
          <label for="r4"></label>
          <input id="r5" type="radio" name="rating" value="1" />
          <label for="r5"></label>
        </div>
      </div>
    </div>
    <div class="form-textarea exchange-review-widget__textarea">
      <label for="vYc8l5" class="form-textarea__label-container" style="display: none">
        <span class="form-textarea__label"> </span>
      </label>
      <div class="form-textarea__container">
        <textarea
          id="vYc8l5"
          placeholder="You can leave a detailed review here..."
          rows="1"
          trim="true"
          spellcheck="false"
          class="form-textarea__textarea form-textarea__textarea_rounded form-textarea__textarea_xl"
        ></textarea>
      </div>
    </div>
    <div class="presets presets_step-page">
      <div class="presets__item">Good rates</div>
      <div class="presets__item">Reliable</div>
      <div class="presets__item">Fast exchange</div>
      <div class="presets__item">Got more than expected</div>
    </div>
    <span class="exchange-review-widget__label"
      >Leave your e-mail to get notified when Binance replies to you (optional):
      <div class="help">
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="far"
          data-icon="circle-question"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="svg-inline--fa fa-circle-question fa-w-16 help__icon help__icon_white"
        >
          <path
            fill="currentColor"
            d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm169.8-90.7c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24V250.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1H222.6c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
            class=""
          ></path>
        </svg>
      </div>
    </span>
    <label
      for="M1Duxh"
      class="form-input exchange-review-widget__input mb-3 mt-2 form-input_dark form-input_rounded form-input_xl"
    >
      <span class="form-input__label"> </span>
      <span class="form-input__wrapper">
        <input
          id="M1Duxh"
          spellcheck="false"
          max="Infinity"
          min="-Infinity"
          maxlength="Infinity"
          placeholder="Enter your e-mail"
          step="any"
          trim="true"
          type="text"
          autocomplete="off"
          lang="en"
          inputmode="text"
          class="form-input__input form-input__input_rounded"
        />
      </span>
    </label>
    <span
      class="form-checkbox exchange-review-widget__checkbox form-checkbox_checked"
      style="display: none"
    >
      <input id="Kc4qSl" type="checkbox" class="form-checkbox__checkbox" value="true" />
      <label for="Kc4qSl" class="form-checkbox__label form-checkbox_label-highlight">
        I would like to receive the latest updates and promotions from SwapSpace
      </label>
    </span>
    <button
      type="submit"
      class="button exchange-review-widget__btn button_lg button_outline button_uppercase button_"
    >
      SEND YOUR REVIEW
    </button>
  </form>
</div>
