<div class="s-header-menu">
  <ng-container *ngFor="let menu of menus">
    <tui-hosted-dropdown [content]="content">
      <button tuiButton appearance="secondary" type="button" size="m" class="drop-down__button">
        {{ menu.label }}
        <tui-svg src="tuiIconChevronDown"></tui-svg>
      </button>
    </tui-hosted-dropdown>
    <ng-template #content>
      <tui-data-list size="m" role="menu">
        <tui-opt-group>
          <a
            *ngFor="let item of menu.menu"
            tuiOption
            role="menuitem"
            [routerLink]="item.routerLink"
          >
            {{ item.label }}
          </a>
        </tui-opt-group>
      </tui-data-list>
    </ng-template>
  </ng-container>
</div>
