.s-header {
  &__menu {
    align-items: center;
    display: flex;
    margin-left: auto;
  }

  &-menu {
    align-items: center;
    display: flex;
    gap: 60px;
  }
}

::ng-deep {
  .t-wrapper {
    background: transparent !important;
    color: white !important;
  }

  .t-wrapper:hover {
    color: var(--tui-link) !important;
  }
}

.arrow {
  margin-left: 4px;
}

.desktop-menu {
  display: none;
}

@media (min-width: 1440px) {
  .desktop-menu {
    display: block;
  }

  .mobile-menu {
    display: none;
  }
}
