.s-header-menu {
  align-items: center;
  display: flex;
  gap: 60px;
}

::ng-deep {
  tui-dropdown {
    border: none !important;
  }

  .t-wrapper {
    background: transparent !important;
    color: white !important;
  }

  .t-wrapper:hover {
    color: var(--tui-link) !important;
  }
}

.arrow {
  margin-left: 4px;
}
